<!DOCTYPE html>
<html lang="pt-br"
    layout:decorate="~{layout/cliente/layout}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--CSS-->
        <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/cupom.css}">

        <title>GPrint3D - Cliente - Cupons</title>
    </head>

    <body>
        <!-- Conteudo da página -->
       <section layout:fragment="conteudo">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Meus cupons</h1>
            </div>

            <div class="text-center my-5" th:if="${cupons.size == 0}">
                <h1 class="h4">Nenhum cupom de troca encontrado</h1>
            </div>

            <div class="my-5" th:if="${cupons.size > 0}">
                <div class="row mt-2 pb-2 table-header mb-4 border-bottom">
                    <div class="col-3 text-center border-end">
                        <p class="h5 m-0 p-0">Status</p>
                    </div>
                    <div class="col-3 text-center border-end">
                        <p class="h5 m-0 p-0">Validade</p>
                    </div>
                    <div class="col-3 text-center border-end">
                        <p class="h5 m-0 p-0">Valor</p>
                    </div>
                    <div class="col-3 text-center">
                        <p class="h5 m-0 p-0">Saldo</p>
                    </div>
                </div>

                <div class="row border mx-2 cupom shadow" th:each="cupom, stat : ${cupons}">
                    <div class="col cupom-header"  onclick="showElement(this)">
                        <div class="row my-2 py-2 cupom-name">
                            <div class="col text-start">
                                <span class="h5 ps-5" th:text="'Cupom ' + ${stat.count} + ' - ' + ${cupom.cptCodigo}">Cupom 1</span>
                            </div>
                                    
                            <div class="col-1 text-center">
                                <i class="bi bi-caret-down"></i>
                            </div>
                        </div>

                        <div class="row my-2 pt-2 border-top">
                            <div class="col-3 text-center border-end">
                                <span th:text="${cupom.getStrCptStatus()}">Ativo</span>
                            </div>
                            <div class="col-3 text-center border-end">
                                <span th:text="${#dates.format(cupom.cptValidade, 'dd/MM/yyyy')}">01/01/2022</span>
                            </div>
                            <div class="col-3 text-center border-end">
                                <span th:text="'R$ ' + ${#numbers.formatDecimal(cupom.cptValor, 1, 'DEFAULT', 2, 'DEFAULT')}">R$ 30,00</span>
                            </div>
                            <div class="col-3 text-center">
                                <span th:text="'R$ ' + ${#numbers.formatDecimal(cupom.cptSaldo, 1, 'DEFAULT', 2, 'DEFAULT')}">R$ 0,00</span>
                            </div>
                        </div>
                    </div>

                    <div class="cupom-body-container bg-light">
                        <div class="cupom-body border-top visually-hidden">
                            <div class="row my-2 cupom-history">
                                <div class="col text-start">
                                    <span class="h6 ps-5">Histórico de uso</span>
                                </div>
                            </div>
                            
                            <div class="cupom-usage">
                                <div class="row my-2">
                                    <div class="col-sm">
                                        <div class="col py-2 border text-center bg-white">
                                            <span th:text="${#dates.format(cupom.cptData, 'dd/MM/yyyy')}">12/03/2021</span>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="col py-2 border text-center bg-white">
                                            <span>Cupom criado</span>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="col py-2 border text-center bg-white">
                                            <span class="text-success" th:text="'+ R$ ' + ${#numbers.formatDecimal(cupom.cptValor, 1, 'DEFAULT', 2, 'DEFAULT')}">+ R$ 30,00</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row my-2" th:each="hist : ${cupom.listHistCuponsTrocas}">
                                    <div class="col-sm">
                                        <div class="col py-2 border text-center bg-white">
                                            <span th:text="${#dates.format(hist.hctData, 'dd/MM/yyyy')}">12/03/2021</span>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/cliente/meusPedidos/detalhesPedido" class="text-decoration-none text-reset">
                                            <div class="col py-2 border text-center bg-white">
                                                <span th:text="'Aplicação no pedido - ' + ${hist.pedido.pdcNumero}">Aplicado no pedido 1</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm">
                                        <div class="col py-2 border text-center bg-white">
                                            <span class="text-danger" th:text="'- R$ ' + ${#numbers.formatDecimal(hist.hctSaldo, 1, 'DEFAULT', 2, 'DEFAULT')}">- R$ 30,00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Scripts-->
            <th:block layout:fragment="javascripts">
                <script type="text/javascript" th:src="@{/javascripts/util.js}"></script>
            </th:block>
        </section>
    </body>
</html>