<!DOCTYPE html>
<html lang="pt-br"
    layout:decorate="~{layout/cliente/layout}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--CSS-->
        <th:block layout:fragment="css">
            <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/pedidos.css}">
        </th:block>

        <title>GPrint3D - Cliente - Pedidos</title>
    </head>

    <body>
        <!-- Conteudo da página -->
       <section layout:fragment="conteudo">
            <div class="my-5">
                <div class="row">
                    <div class="col-sm">
                        <div class="row">
                            <p class="h2">Meus pedidos</p>
                        </div>
                    </div>
                </div>

                <div class="container my-4 px-4">
                    <div class="col-sm pedido border shadow">
                        <div class="row ps-2 pedido-header" onclick="hideElement(this)">
                            <div class="col pt-3 pb-2">
                                <p class="h5">Pedido 1</p>
                            </div>
                            
                            <div class="col-1 d-flex flex-column justify-content-center text-center">
                                <i class="bi bi-caret-up"></i>
                            </div>
                        </div>

                        <div class="row pedido-body">
                            <div class="row pb-3 produto">
                                <div class="row ms-3 border-top pt-3 mb-3">
                                    <div class="col">
                                        <div class="d-flex flex-row gap-4">
                                            <img th:src="@{/images/Teste.png}" class="img-fluid" alt="..." style="max-width: 200px; height: auto;">
                                            <div class="d-flex flex-column justify-content-center">
                                                <p class="h6">Produto 1</p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-1 d-grid tex-center align-content-center border-start">
                                        <div class="row text-center">
                                            <p class="fw-bold">QTD</p>
                                        </div>
                                        <div class="row text-center">
                                            <p>3</p>
                                        </div>
                                    </div>

                                    <div class="col-1 d-grid tex-center align-content-center border-start">
                                        <div class="row text-center">
                                            <p class="fw-bold">VALOR</p>
                                        </div>
                                        <div class="row text-center">
                                            <p>R$ 50,00</p>
                                        </div>
                                    </div>

                                    <div class="col-1 d-grid tex-center align-content-center border-start">
                                        <div class="row text-center">
                                            <p class="fw-bold">TOTAL</p>
                                        </div>
                                        <div class="row text-center">
                                            <p>R$132,00</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row ms-2">
                                    <a href="/cliente/meusPedidos/detalhesPedido" class="btn border shadow-sm stretched-link">Ver detalhes</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--Scripts-->
            <th:block layout:fragment="javascripts">
                <script type="text/javascript" th:src="@{/javascripts/util.js}"></script>
            </th:block>
        </section>
    </body>
</html>