<!DOCTYPE html>
<html lang="pt-br"
    layout:decorate="~{layout/cliente/layout}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>GPrint3D - Cliente - Meus Pedidos</title>
    </head>

    <body>
        <!-- Conteudo da página -->
       <section layout:fragment="conteudo">
            <div class="my-5">
                <div class="row">
                    <div class="col-sm">
                        <div class="row">
                            <p class="h2">Meus pedidos</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>