<!DOCTYPE html>
<html lang="pt-br"
    layout:decorate="~{layout/admin/layout}">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>GPrint3D - Admin - Clientes</title>

        <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/dataTables/jquery.dataTables.css}">
    </head>

    <body>
        <section layout:fragment="conteudo">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2" th:text="'Cliente - ' + ${cliente.cliNome}"></h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <a href="javascript:history.back()" class="btn btn-sm btn-outline-secondary">
                        <span data-feather="calendar"></span>
                        Voltar
                    </a>
                  </div>
            </div>

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" th:href="'/admin/cliente/' + ${cliente.cliId} + '/dados'">Dados pessoais</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="'/admin/cliente/' + ${cliente.cliId} + '/telefones'">Telefones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="'/admin/cliente/' + ${cliente.cliId} + '/documentos'">Documentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="'/admin/cliente/' + ${cliente.cliId} + '/enderecos'">Endereços</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="'/admin/cliente/' + ${cliente.cliId} + '/usuario'">Usuário</a>
                </li>
            </ul>

            <table class="table my-3">
                <thead>
                    <tr>
                        <th scope="col" style="width: 250px;">Informações de documento</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="telefone : ${cliente.listTelefone}">
                        <th scope="row" th:text="${telefone.telTipo}">Tipo</th>
                        <td th:text="'(' + ${telefone.telDdd} + ') ' + ${telefone.telNumero}">Tipo</td>
                    </tr>
                </tbody>
            </table>

            <script type="text/javascript" th:src="@{/javascripts/jquery/jquery.dataTables.js}"></script>
            <script type="text/javascript" th:src="@{/javascripts/jquery/jquery.tableControl.admin.cliente.js}"></script>
        </section>
    </body>
</html>