<!DOCTYPE html>
<html lang="pt-br"
    layout:decorate="~{layout/admin/layout}">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>GPrint3D - Admin - Home</title>
    </head>

    <body>
        <section layout:fragment="conteudo">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Pedidos</h1>
            </div>
        </section>
    </body>
</html>