<html>
    <body>
        <div th:fragment="sidebar">
            <div class="container-fluid">
                <div class="row">
                    <nav id="sidebarMenu" class="col-sm-2 d-sm-block bg-light sidebar collapse">
                        <div class="position-sticky pt-3">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/index" th:classappend="${#httpServletRequest.requestURI.contains('index')} ? 'active'">
                                        Início
                                    </a>
                                </li>
                                
                                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                                    <span>Produtos</span>
                                </h6>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/cadastrarProdutos" th:classappend="${#httpServletRequest.requestURI.contains('produtos')} ? 'active'">
                                        Cadastro de produtos
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/listarProdutos" th:classappend="${#httpServletRequest.requestURI.contains('produtos')} ? 'active'">
                                        Listagem de produtos
                                    </a>
                                </li>

                                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                                    <span>Pedidos</span>
                                </h6>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/listarPedidos" th:classappend="${#httpServletRequest.requestURI.contains('pedidos')} ? 'active'">
                                        Listagem de pedidos
                                    </a>
                                </li>

                                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                                    <span>Clientes</span>
                                </h6>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/listarClientes" th:classappend="${#httpServletRequest.requestURI.contains('clientes')} ? 'active'">
                                        <span data-feather="shopping-cart"></span>
                                        Listagem de clientes
                                    </a>
                                </li>

                                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                                    <span>Graficos</span>
                                </h6>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/graficos" th:classappend="${#httpServletRequest.requestURI.contains('graficos')} ? 'active'">
                                        Vendas
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </body>
</html>