<!DOCTYPE html>
<html lang="pt-br"
    layout:decorate="~{layout/default/layout}">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>GPrint3D - Home</title>
    </head>

    <body>
        <section layout:fragment="conteudo">
            <div class="container mb-5">
                <div class="border-bottom">
                    <p class="h2">Categoria 2</p>
                </div>
                <div class="row my-4">
                    <div class="card-row">
                        <img th:src="@{/images/Teste.png}" class="img-start" alt="..." style="max-height: 125px; height: auto;">
                        <div class="card-body ms-4">
                            <p class="h5">Produto 1</p>
                            <p class="">Descrição do produto.</p>
                        </div>
                        <div class="card-end text-center">
                            <p class="fs-7 fs text-decoration-line-through text-black-50">R$ 2.599,99</p>
                            <p class="fs-5 fw-bolder">R$ 1.500,00</p>
                            <a href="#" class="btn btn-secondary mt-2 stretched-link" style="width: 100%;">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="card-row">
                        <img th:src="@{/images/Teste.png}" class="img-start" alt="..." style="max-height: 125px; height: auto;">
                        <div class="card-body ms-4">
                            <p class="h5">Produto 2</p>
                            <p class="">Descrição do produto.</p>
                        </div>
                        <div class="card-end text-center">
                            <p class="fs-7 fs text-decoration-line-through text-black-50">R$ 2.599,99</p>
                            <p class="fs-5 fw-bolder">R$ 1.500,00</p>
                            <a href="#" class="btn btn-secondary mt-2 stretched-link" style="width: 100%;">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="card-row">
                        <img th:src="@{/images/Teste.png}" class="img-start" alt="..." style="max-height: 125px; height: auto;">
                        <div class="card-body ms-4">
                            <p class="h5">Produto 3</p>
                            <p class="">Descrição do produto.</p>
                        </div>
                        <div class="card-end text-center">
                            <p class="fs-7 fs text-decoration-line-through text-black-50">R$ 2.599,99</p>
                            <p class="fs-5 fw-bolder">R$ 1.500,00</p>
                            <a href="#" class="btn btn-secondary mt-2 stretched-link" style="width: 100%;">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="card-row">
                        <img th:src="@{/images/Teste.png}" class="img-start" alt="..." style="max-height: 125px; height: auto;">
                        <div class="card-body ms-4">
                            <p class="h5">Produto 4</p>
                            <p class="">Descrição do produto.</p>
                        </div>
                        <div class="card-end text-center">
                            <p class="fs-7 fs text-decoration-line-through text-black-50">R$ 2.599,99</p>
                            <p class="fs-5 fw-bolder">R$ 1.500,00</p>
                            <a href="#" class="btn btn-secondary mt-2 stretched-link" style="width: 100%;">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="card-row">
                        <img th:src="@{/images/Teste.png}" class="img-start" alt="..." style="max-height: 125px; height: auto;">
                        <div class="card-body ms-4">
                            <p class="h5">Produto 5</p>
                            <p class="">Descrição do produto.</p>
                        </div>
                        <div class="card-end text-center">
                            <p class="fs-7 fs text-decoration-line-through text-black-50">R$ 2.599,99</p>
                            <p class="fs-5 fw-bolder">R$ 1.500,00</p>
                            <a href="#" class="btn btn-secondary mt-2 stretched-link" style="width: 100%;">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="card-row">
                        <img th:src="@{/images/Teste.png}" class="img-start" alt="..." style="max-height: 125px; height: auto;">
                        <div class="card-body ms-4">
                            <p class="h5">Produto 6</p>
                            <p class="">Descrição do produto.</p>
                        </div>
                        <div class="card-end text-center">
                            <p class="fs-7 fs text-decoration-line-through text-black-50">R$ 2.599,99</p>
                            <p class="fs-5 fw-bolder">R$ 1.500,00</p>
                            <a href="#" class="btn btn-secondary mt-2 stretched-link" style="width: 100%;">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>