<!DOCTYPE html>
<html lang="pt-br"
    layout:decorate="~{layout/admin/layout}">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/drag.and.drop.css}">

        <title>GPrint3D - Admin - Precificações</title>
    </head>

    <body>
        <section layout:fragment="conteudo">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2" th:text="'Alterar precificação - ' + ${precificacao.getNome()}">Alterar precificação</h1>
                <a href="/admin/listarPrecificacoes" class="btn btn-sm btn-outline-secondary">
                    Voltar
                </a>
            </div>

            <div class="h3 text-center my-5">Custo do produto / ( 100% – ( % DV + % DF + % ML ) ) = Preço de venda</div>

            <form th:action="@{/admin/alterarPrecificacao}" method="POST">
                <input type="hidden" name="id" th:field="${precificacao.prcId}"/>
                <div class="row pb-3 pe-0">
                    <div class="row pe-0">
                        <div class="col pe-0">
                            <div class="form-floating">
                                <input type="text" class="form-control" placeholder="Despesas variáveis (DV)" id="despVariaveis" th:field="${precificacao.prcDespVar}" required/>
                                <label for="despVariaveis">Despesas variáveis (DV)</label>
                            </div>
                        </div>
                        <div class="col pe-0">
                            <div class="form-floating">
                                <input type="text" class="form-control" placeholder="Despesas fixas (DF)" id="despFixas" th:field="${precificacao.prcDespFix}" required/>
                                <label for="despFixas">Despesas fixas (DF)</label>
                            </div>
                        </div>
                        <div class="col pe-0">
                            <div class="form-floating">
                                <input type="text" class="form-control" placeholder="Margem de lucro (ML)" id="margLucro" th:field="${precificacao.prcMargLuc}" required/>
                                <label for="margLucro">Margem de lucro (ML)</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pb-3 pe-0">
                    <div class="row pe-0">
                        <div class="col-sm pe-0">
                            <div class="text-end">
                                <button type="submit" class="btn border shadow-sm">Alterar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </body>
</html>