<html>
    <body>
        <div th:fragment="listaEnderecoCobranca">
            <div class="row">
                <div class="row my-3">
                    <div class="col">
                        <div class="text-end">
                            <a th:href="'/cliente/cadastrarEndereco/' + ${cliente.cliId} + '/1'" class="text-reset" id="novoEnderecoCobranca"><i class="bi bi-plus-circle" style="cursor: pointer;"><span> Adicionar novo</span></i></a>
                        </div>
                    </div>
                </div>
                
                <div class="col-4 mb-5 d-flex justify-content-center" th:each="endereco : ${cliente.listEndereco}" th:if="${endereco.endCobranca == true}">
                    <div class="card shadow" style="width: 18rem;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-11">
                                    <h5 class="card-title" th:text="${endereco.endDescricao}">Endereço 1</h5>
                                </div>
                                <div class="col-1 px-1 text-end">
                                    <i class="bi bi-check2-square fs-6" style="color: limegreen;" th:if="${endereco.endCobrancaPadrao != null} AND ${endereco.endCobrancaPadrao.endereco.endId} == ${endereco.endId}"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-10 pe-0">
                                    <p class="card-text" th:text="${endereco.endTipo} + ' ' + ${endereco.endLogradouro}">Rua exemplo.</p>
                                </div>
                                <div class="col-1 px-0 text-center">
                                    <form th:action="@{/cliente/excluirEndereco}" method="POST">
                                        <button class="m-0 p-0 border-0" style="background-color: transparent;" type="submit" name="id" th:value="${endereco.endId}" th:id="excluir + ${endereco.endId}">
                                            <i class="bi bi-trash" style="cursor: pointer;"></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="col-1 px-0 text-center">
                                    <form th:action="@{/cliente/editarEndereco}" method="POST">
                                        <button  class="m-0 p-0 border-0" style="background-color: transparent;" type="submit" name="id" th:value="${endereco.endId}" th:id="alterar + ${endereco.endId}">
                                            <i class="bi bi-pencil-square" style="cursor: pointer;"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Script -->
        <th:block layout:fragment="javascripts">
            <script type="text/javascript" th:src="@{/javascripts/util.js}"></script>
        </th:block>
    </body>
</html>