<html>
    <body>
        <div th:fragment="listaEnderecoEntrega">
            <div class="row">
                <div class="row my-3">
                    <div class="col">
                        <div class="text-end">
                            <a th:href="'/cliente/cadastrarEndereco/' + ${cliente.cliId} + '/0'" style="color: black;"><i class="bi bi-plus-circle" style="cursor: pointer;"><span> Adicionar novo</span></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-4 mb-5 d-flex justify-content-center" th:each="endereco : ${cliente.listEndereco}" th:if="${endereco.endEntrega == true}">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-10">
                                    <h5 class="card-title" th:text="${endereco.endDescricao}">Endereço 1</h5>
                                </div>

                                <div class="col-2 px-1 text-end" th:if="${endereco.endEntregaPadrao == true}">
                                    <i class="bi bi-check2-square fs-5" style="color: limegreen;"></i>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-9 pe-0">
                                    <p class="card-text" th:text="${endereco.endTipo} + ' ' + ${endereco.endLogradouro}">Rua exemplo.</p>
                                </div>

                                <div class="col-3 px-2 text-end">
                                    <form th:action="@{/cliente/deletarEndereco}" method="POST">
                                        <button class="m-0 p-0" style="background-color: transparent; border-color: transparent;" type="submit" name="id" th:value="${endereco.endId}"><i class="bi bi-trash" style="cursor: pointer;"></i></button>
                                        <a th:href="'/cliente/alterarEndereco/' + ${endereco.endId}" style="color: black;"><i class="bi bi-pencil-square" style="cursor: pointer;"></i></a>
                                    </form>
                                </div>
                            </div>
                            
                            <div class="row pt-2" th:if="${#httpServletRequest.requestURI.contains('carrinho')}">
                                <div class="col d-flex flex-column text-center">
                                    <a href="#" class="btn border shadow-sm">Selecionar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Script
            <script type="text/javascript" th:src="@{/javascripts/endereco.js}"></script>-->
            <script type="text/javascript" th:src="@{/javascripts/cartoes.js}"></script>
        </div>
    </body>
</html>