<html>
    <body>
        <div th:fragment="listaCartoes">
            <div class="row">
                <div class="row my-3">
                    <div class="col">
                        <div class="text-end">
                            <a th:href="'/cliente/cadastrarCartao/' + ${cliente.cliId}" style="color: black;"><i class="bi bi-plus-circle" style="cursor: pointer;"><span> Adicionar novo</span></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-4 mb-5 d-flex justify-content-center" th:each="cartao : ${cliente.listCartao}">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-10">
                                    <h5 class="card-title" th:text="${cartao.crtNumero}">Cartão X</h5>
                                </div>
                                <div class="col-2 px-1 text-end">
                                    <i class="bi bi-check2-square fs-5" style="color: limegreen;" th:if="${cartao.cartaoPadrao != null} AND ${cartao.cartaoPadrao.cartao.crtId} == ${cartao.crtId}"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-9 pe-0">
                                    <p class="card-text" th:text="${cartao.crtBandeira}">Bandeira</p>
                                </div>
                                <div class="col-3 px-2 text-end">
                                    <form th:action="@{/cliente/deletarCartao}" method="POST">
                                        <button class="m-0 p-0" style="background-color: transparent; border-color: transparent;" type="submit" name="id" th:value="${cartao.crtId}"><i class="bi bi-trash" style="cursor: pointer;"></i></button>
                                        <a th:href="'/cliente/alterarCartao/' + ${cartao.crtId}" style="color: black;"><i class="bi bi-pencil-square" style="cursor: pointer;"></i></a>
                                    </form>
                                </div>
                                <div class="row pt-2" th:if="${#httpServletRequest.requestURI.contains('carrinho')}">
                                    <div class="col d-flex flex-column text-center">
                                        <a href="#" class="btn border shadow-sm">Selecionar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Script -->
            <script type="text/javascript" th:src="@{/javascripts/cartoes.js}"></script>
        </div>
    </body>
</html>