<!DOCTYPE html>
<html lang="pt-br"
    layout:decorate="~{layout/cliente/layout}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>GPrint3D - Cliente - Meus Endereços</title>
    </head>

    <body>
        <!-- Conteudo da página -->
        <section layout:fragment="conteudo">
            <div class="container my-5">
                <div class="border-bottom">
                    <p class="h2">Endereço de entrega</p>
                </div>

                <!-- Listagem dos endereços de entrega -->
                <div th:insert="~{cliente/visualizar/listaEnderecosEntrega :: listaEnderecoEntrega}"></div>

            </div>

            <div class="container my-5">
                <div class="border-bottom">
                    <p class="h2">Endereço de cobrança</p>
                </div>

                <!-- Listagem dos endereços de cobrança -->
                <div th:insert="~{cliente/visualizar/listaEnderecosCobranca :: listaEnderecoCobranca}"></div>
                
            </div>
        </section>
    </body>
</html>