<!DOCTYPE html>
<html lang="pt-br"
    layout:decorate="~{layout/admin/layout}">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>GPrint3D - Admin - Variáveis</title>

        <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/dataTables/jquery.dataTables.css}">
    </head>

    <body>
        <section layout:fragment="conteudo">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Variáveis</h1>
            </div>

            <div th:include="~{admin/alerts :: alertUpdate}"></div>

            <form th:action="@{/admin/alterarVariaveis}" method="POST">
                <input type="hidden" name="id" th:field="${variaveis.varId}" />

                <table class="table mt-3 mb-4">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 250px;">Configurações gerais</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="align-middle">CEP remetente</th>
                            <td class="align-middle"><input class="form-control" type="text" name="cep" id="cep" th:field="${variaveis.varCep}" /></td>
                        </tr>
                        <tr>
                            <th scope="row" class="align-middle">Quantidade de categorias na pagina inicial</th>
                            <td class="align-middle"><input class="form-control" type="number" name="categoria" id="categoria" th:field="${variaveis.varCategoria}" /></td>
                        </tr>
                    </tbody>
                </table>

                <table class="table my-4">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 250px;">Pontuações de clientes</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="align-middle">Ranking 1 (Bronze)</th>
                            <td class="align-middle"><input class="form-control" type="number" name="cep" id="cep" th:field="${variaveis.varRank1}" /></td>
                        </tr>
                        <tr>
                            <th scope="row" class="align-middle">Ranking 2 (Prata)</th>
                            <td class="align-middle"><input class="form-control" type="number" name="categoria" id="categoria" th:field="${variaveis.varRank2}" /></td>
                        </tr>
                        <tr>
                            <th scope="row" class="align-middle">Ranking 3 (Ouro)</th>
                            <td class="align-middle"><input class="form-control" type="number" name="categoria" id="categoria" th:field="${variaveis.varRank3}" /></td>
                        </tr>
                        <tr>
                            <th scope="row" class="align-middle">Ranking 4 (Platina)</th>
                            <td class="align-middle"><input class="form-control" type="number" name="categoria" id="categoria" th:field="${variaveis.varRank4}" /></td>
                        </tr>
                    </tbody>
                </table>

                <table class="table my-4">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 250px;">Controle de tempos</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="align-middle">Tempo de troca do produto recebido (dias)</th>
                            <td class="align-middle"><input class="form-control" type="number" name="cep" id="cep" th:field="${variaveis.varTempTroca}" /></td>
                        </tr>
                        <tr>
                            <th scope="row" class="align-middle">Validade do cupom de troca (dias)</th>
                            <td class="align-middle"><input class="form-control" type="number" name="categoria" id="categoria" th:field="${variaveis.varValidCupom}" /></td>
                        </tr>
                    </tbody>
                </table>

                <table class="table my-4">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 250px;">Cálculo de frete</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="align-middle">Altura máxima da caixa (mm)</th>
                            <td class="align-middle"><input class="form-control" type="number" name="cep" id="cep" th:field="${variaveis.varCorAlMax}" /></td>
                        </tr>
                        <tr>
                            <th scope="row" class="align-middle">Largura máxima da caixa (mm)</th>
                            <td class="align-middle"><input class="form-control" type="number" name="cep" id="cep" th:field="${variaveis.varCorLaMax}" /></td>
                        </tr>
                        <tr>
                            <th scope="row" class="align-middle">Profundidade máxima da caixa (mm)</th>
                            <td class="align-middle"><input class="form-control" type="number" name="cep" id="cep" th:field="${variaveis.varCorPrMax}" /></td>
                        </tr>
                        <tr>
                            <th scope="row" class="align-middle">Soma máxima do dimensional da caixa (mm)</th>
                            <td class="align-middle"><input class="form-control" type="number" name="cep" id="cep" th:field="${variaveis.varCorSomDimMax}" /></td>
                        </tr>
                        <tr>
                            <th scope="row" class="align-middle">Peso máximo (Kg)</th>
                            <td class="align-middle"><input class="form-control" type="number" name="cep" id="cep" th:field="${variaveis.varCorPeMax}" /></td>
                        </tr>

                        <tr>
                            <th scope="row" class="align-middle">Altura mínima da caixa (mm)</th>
                            <td class="align-middle"><input class="form-control" type="number" name="categoria" id="categoria" th:field="${variaveis.varCorAlMin}" /></td>
                        </tr>
                        <tr>
                            <th scope="row" class="align-middle">Largura mínima da caixa (mm)</th>
                            <td class="align-middle"><input class="form-control" type="number" name="categoria" id="categoria" th:field="${variaveis.varCorLaMin}" /></td>
                        </tr>
                        <tr>
                            <th scope="row" class="align-middle">Profundidade mínima da caixa (mm)</th>
                            <td class="align-middle"><input class="form-control" type="number" name="categoria" id="categoria" th:field="${variaveis.varCorPrMin}" /></td>
                        </tr>
                        <tr>
                            <th scope="row" class="align-middle">Soma mínima do dimensional da caixa (mm)</th>
                            <td class="align-middle"><input class="form-control" type="number" name="categoria" id="categoria" th:field="${variaveis.varCorSomDimMin}" /></td>
                        </tr>
                        <tr>
                            <th scope="row" class="align-middle">Peso mínimo (Kg)</th>
                            <td class="align-middle"><input class="form-control" type="number" name="cep" id="cep" th:field="${variaveis.varCorPeMin}" /></td>
                        </tr>
                    </tbody>
                </table>

                <div class="row pe-0 pb-3">
                    <div class="row pe-0">
                        <div class="col-sm pe-0">
                            <div class="text-end">
                                <button type="submit" class="btn border shadow-sm">Alterar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </body>
</html>