<!DOCTYPE html>
<html lang="pt-br"
    layout:decorate="~{layout/default/layout}">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>GPrint3D - Home</title>
    </head>

    <body>
        <section layout:fragment="conteudo">
            <div class="container">
                <div class="row border-bottom">
                    <div class="col-6 text-start">
                        <p class="h2">Meu carrinho</p>
                    </div>
                    <div class="col-6 text-end">
                        <div class="row row-cols-lg-auto g-3 justify-content-end align-items-center">
                            <form th:action="@{/carrinho/removerTodosProdutos}" method="POST" class="px-0">
                                <button type="submit" class="btn border shadow-sm" id="remover">Remover tudo</button>
                            </form>
                            <a href="/cliente/carrinho/escolherEndereco"><button type="submit" class="btn border shadow-sm" id="comprar">Comprar</button></a>
                        </div>
                    </div>
                </div>

                <div class="row mt-2 pb-2 border-bottom">
                    <div class="col-5 d-flex flex-column justify-content-center text-start border-end">
                        <span class="h5 mb-0">Produto</span>
                    </div>
                    <div class="col-2 d-flex flex-column justify-content-center text-center border-end">
                        <span class="h5 mb-0">Qtd</span>
                    </div>
                    <div class="col-2 d-flex flex-column justify-content-center text-center border-end">
                        <span class="h5 mb-0">Preço un.</span>
                    </div>
                    <div class="col-2 d-flex flex-column justify-content-center text-center border-end">
                        <span class="h5 mb-0">Sub-Total</span>
                    </div>
                    <div class="col-1 d-flex flex-column justify-content-center text-center">
                        <span class="h5 mb-0">Ferram.</span>
                    </div>
                </div>

                <div class="d-flex flex-row justify-content-center pt-4" th:if="${#lists.isEmpty(produtosCarrinho)}">
                    <p class="text-danger">Você não tem nenhum produto no seu carrinho, continue comprando e adcione um produto para aparecer aqui!</p>
                </div>

                <div id="produtosAtivos" th:if="!${#lists.isEmpty(produtosCarrinho)}">
                    <div class="row mt-2 pb-2 border-bottom" onclick="hideElement(this)" style="cursor: pointer;">
                        <div class="col">
                            <span class="h7 mb-0">Produtos ativos</span>
                        </div>
                        <div class="col-1 d-flex flex-column justify-content-center text-center">
                            <i class="bi bi-caret-up"></i>
                        </div>
                    </div>

                    <div id="listaProdutosAtivos">
                        <div id="ocultar">
                            <div class="d-flex flex-row justify-content-center pt-4" th:if="${produtosCarrinho.size == 0}">
                                <p class="text-danger">Você não tem nenhum produto no seu carrinho, continue comprando e adcione um produto para aparecer aqui!</p>
                            </div>

                            <div class="row my-2 pb-2 border-bottom" id="produto" th:each="produto : ${produtosCarrinho}">
                                <div class="col-2">
                                    <img th:if="${produto.produto.listFotos.size}" th:src="@{'data:image/jpg;base64,' + ${produto.produto.listFotos[0].generateBase64Image()}}" class="img-fluid" alt="...">
                                    <img th:unless="${produto.produto.listFotos.size}" th:src="@{/images/Teste.png}" class="img-fluid" alt="">
                                </div>
                                <div class="col-3 d-flex flex-column justify-content-center border-end">
                                    <h5 th:text="${produto.produto.prdNome}">Produto 1</h5>
                                </div>
                                <div class="col-2 d-flex flex-column justify-content-center border-end">
                                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                        <div class="input-group justify-content-center">
                                            <form th:action="@{/carrinho/diminuirProduto}" method="POST" class="px-0">
                                                <button class="input-group-text rounded-end-0 border-end" name="id" th:value="${produto.produto.prdId}">-</button>
                                            </form>
                                            <form th:action="@{/carrinho/atualizarProduto}" method="POST" class="px-0 m-0 w-30">
                                                <input type="hidden" class="hidden" name="id" th:value="${produto.produto.prdId}"/>
                                                <input type="text" class="form-control text-center border-start-0 border-end-0 px-2 numero" placeholder="Qtd" name="qtd" aria-label="Qtd" aria-describedby="btnGroupAddon" th:value="${produto.pcrQuantidade}" onfocusout="submit(this)"/>
                                            </form>
                                            <form th:action="@{/carrinho/aumentarProduto}" method="POST" class="px-0">
                                                <button class="input-group-text rounded-start-0" name="id" th:value="${produto.produto.prdId}" style="margin-left: 1px !important">+</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2 d-flex flex-column justify-content-center text-center border-end">
                                    <span th:text="'R$ ' + ${#numbers.formatDecimal(produto.produto.prdPreco, 1, 'DEFAULT', 2, 'DEFAULT')}">R$50,00</span>
                                </div>
                                <div class="col-2 d-flex flex-column justify-content-center text-center border-end">
                                    <span th:text="'R$ ' + ${#numbers.formatDecimal(produto.produto.prdPreco * produto.pcrQuantidade, 1, 'DEFAULT', 2, 'DEFAULT')}">R$150,00</span>
                                </div>
                                <div class="col-1  d-flex flex-column justify-content-center text-center">
                                    <form th:action="@{/carrinho/removerProduto}" method="POST" class="px-0">
                                        <button class="bg-transparent border-0" name="id" th:value="${produto.produto.prdId}" style="cursor: pointer;">
                                            <i class="bi bi-x-square fs-5"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Produtos Expirados
                <div id="produtosExpirados">
                    <div class="row mt-2 pb-2 border-bottom" onclick="hideElement(this)" style="cursor: pointer;">
                        <div class="col">
                            <span class="h7 mb-0">Produtos expirados</span>
                        </div>
                        <div class="col-1 d-flex flex-column justify-content-center text-center">
                            <i class="bi bi-caret-up"></i>
                        </div>
                    </div>

                    <div id="listaProdutosExpirados">
                        <div class="row my-2 pb-2 border-bottom">
                            <div class="col-2 opacity-50">
                                <img th:src="@{/images/Teste.png}" class="img-fluid" alt="...">
                            </div>
                            <div class="col-3 d-flex flex-column justify-content-center border-end  opacity-50">
                                <h5>Produto 2</h5>
                                <p>Descrição do produto.</p>
                            </div>
                            <div class="col-2 d-flex flex-column justify-content-center border-end opacity-50">
                                <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
                                    <div class="input-group">
                                    <div class="input-group-text " id="btnGroupAddon" style="cursor: none;">-</div>
                                    <input type="text" class="form-control px-2 w-50 text-center disabled" placeholder="Qtd" aria-label="Qtd" aria-describedby="btnGroupAddon" value="2">
                                    <div class="input-group-text" id="btnGroupAddon" style="cursor: none;">+</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 d-flex flex-column justify-content-center text-center border-end opacity-50">
                                <span>R$20,00</span>
                            </div>
                            <div class="col-2 d-flex flex-column justify-content-center text-center border-end opacity-50">
                                <span>R$40,00</spanclass=>
                            </div>
                            <div class="col-1 d-flex flex-column justify-content-center">
                                <div class="d-flex flex-row justify-content-center text-center gap-2">
                                    <i class="bi bi-arrow-up-circle fs-5" style="cursor: pointer"></i>
                                    <i class="bi bi-x-square fs-5" style="cursor: pointer"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->

                <div class="row mt-2 pt-2">
                    <div class="col-2 d-flex flex-column justify-content-center text-end pe-2">
                        <span>Insira seu CEP:</span>
                    </div>
                    <div class="col-1 px-0">
                        <input type="text" class="form-control text-center px-1 w-100 cep" name="cep" id="cep" placeholder="00000-000"  minlength="9" maxlength="9">
                    </div>
                    <div class="col-1">
                        <button type="submit" class="btn border shadow-sm" onclick="calcularFrete()">Calcular</button>
                    </div>

                    <div class="col-2 d-flex flex-column justify-content-center">
                        <a href="http://www.buscacep.correios.com.br/sistemas/buscacep/">Não sei meu cep</a>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-2 d-flex flex-column justify-content-center text-end border-end">
                        <p class="h6 mb-0">Total do pedido:</p>
                    </div>
                    <div class="col-2 d-flex flex-column justify-content-center text-center">
                        <p class="h6 mb-0" th:text="'R$ ' + ${#numbers.formatDecimal(totalCarrinho, 1, 'DEFAULT', 2, 'DEFAULT')}">R$ 150,00</p>
                    </div>
                    <div class="col-1"></div>
                </div>

                <div class="row mt-3">
                    <div class="col-6">
                        <div id="loadFrete" class="w-100 row border shadow text-center py-3 d-none">
                            <div class="col text-center">
                                <div class="text-center spinner-border" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>
                        <div id="dispFrete" class="w-100 row border shadow text-center py-3 d-none">
                        </div>
                    </div>

                    <div class="col-6 d-flex flex-row justify-content-end align-items-start text-end gap-1">
                        <div class="row row-cols-lg-auto g-3 justify-content-end align-items-center">
                            <form th:action="@{/carrinho/removerTodosProdutos}" method="POST" class="px-0">
                                <button type="submit" class="btn border shadow-sm">Remover tudo</button>
                            </form>
                            <a href="/cliente/carrinho/escolherEndereco"><button type="submit" class="btn border shadow-sm">Comprar</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Script-->
        <th:block layout:fragment="javascripts">
            <script type="text/javascript" th:src="@{/javascripts/jquery/jquery.mask.min.js}"></script>
            <script type="text/javascript" th:src="@{/javascripts/jquery/jquery.mask.js}"></script>
            <script type="text/javascript" th:src="@{/javascripts/util.js}"></script>
            <script type="text/javascript" th:src="@{/javascripts/carrinho.js}"></script>
            <script type="text/javascript" th:src="@{/javascripts/correios.js}"></script>
        </th:block>
    </body>
</html>