<!DOCTYPE html>
<html lang="pt-br"
    layout:decorate="~{layout/default/layout}">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>GPrint3D - Home</title>
    </head>

    <body>
        <section layout:fragment="conteudo">
            <div class="container">
                <div class="row border-bottom">
                    <div class="col-6 text-start">
                        <p class="h2">Meu carrinho</p>
                    </div>
                    <div class="col-6 text-end">
                        <a href="#"></a><button type="submit" class="btn border shadow-sm">Remover tudo</button></a>
                        <a href="/cliente/carrinho/escolherEndereco"><button type="submit" class="btn border shadow-sm">Comprar</button></a>
                    </div>
                </div>

                <div class="row mt-2 pb-2 border-bottom">
                    <div class="col-5 d-flex flex-column justify-content-center text-start border-end">
                        <span class="h5">Produto</span>
                    </div>
                    <div class="col-2 d-flex flex-column justify-content-center text-center border-end">
                        <span class="h5">Qtd</span>
                    </div>
                    <div class="col-2 d-flex flex-column justify-content-center text-center border-end">
                        <span class="h5">Preço un.</span>
                    </div>
                    <div class="col-2 d-flex flex-column justify-content-center text-center border-end">
                        <span class="h5">Sub-Total</span>
                    </div>
                    <div class="col-1 d-flex flex-column justify-content-center text-center">
                        <span class="h5">Ferram.</span>
                    </div>
                </div>


                <div id="produtosAtivos">
                    <div class="row mt-2 pb-2 border-bottom" onclick="hideElement(this)" style="cursor: pointer;">
                        <div class="col">
                            <span class="h7">Produtos ativos</span>
                        </div>
                        <div class="col-1 d-flex flex-column justify-content-center text-center">
                            <i class="bi bi-caret-up"></i>
                        </div>
                    </div>

                    <div id="listaProdutosAtivos">
                        <div class="row my-2 pb-2 border-bottom">
                            <div class="col-2">
                                <img th:src="@{/images/Teste.png}" class="img-fluid" alt="...">
                            </div>
                            <div class="col-3 d-flex flex-column justify-content-center border-end">
                                <h5>Produto 1</h5>
                                <p>Descrição do produto.</p>
                            </div>
                            <div class="col-2 d-flex flex-column justify-content-center border-end">
                                <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
                                    <div class="input-group">
                                    <div class="input-group-text " id="btnGroupAddon" style="cursor: pointer;">-</div>
                                    <input type="text" class="form-control px-2" placeholder="Qtd" aria-label="Qtd" aria-describedby="btnGroupAddon" value="3" style="width: 50px; text-align: center;">
                                    <div class="input-group-text" id="btnGroupAddon" style="cursor: pointer;">+</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 d-flex flex-column justify-content-center text-center border-end">
                                <span>R$50,00</span>
                            </div>
                            <div class="col-2 d-flex flex-column justify-content-center text-center border-end">
                                <span>R$150,00</span>
                            </div>
                            <div class="col-1  d-flex flex-column justify-content-center text-center">
                                <i class="bi bi-x-square fs-5" style="cursor: pointer;"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="produtosExpirados">
                    <div class="row mt-2 pb-2 border-bottom" onclick="hideElement(this)" style="cursor: pointer;">
                        <div class="col">
                            <span class="h7">Produtos expirados</span>
                        </div>
                        <div class="col-1 d-flex flex-column justify-content-center text-center">
                            <i class="bi bi-caret-up"></i>
                        </div>
                    </div>

                    <div id="listaProdutosExpirados">
                        <div class="row my-2 pb-2 border-bottom">
                            <div class="col-2 opacity-50">
                                <img th:src="@{/images/Teste.png}" class="img-fluid" alt="...">
                            </div>
                            <div class="col-3 d-flex flex-column justify-content-center border-end  opacity-50">
                                <h5>Produto 2</h5>
                                <p>Descrição do produto.</p>
                            </div>
                            <div class="col-2 d-flex flex-column justify-content-center border-end opacity-50">
                                <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
                                    <div class="input-group">
                                    <div class="input-group-text " id="btnGroupAddon" style="cursor: none;">-</div>
                                    <input type="text" class="form-control px-2 disabled" placeholder="Qtd" aria-label="Qtd" aria-describedby="btnGroupAddon" value="2" style="width: 50px; text-align: center;">
                                    <div class="input-group-text" id="btnGroupAddon" style="cursor: none;">+</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 d-flex flex-column justify-content-center text-center border-end opacity-50">
                                <span>R$20,00</span>
                            </div>
                            <div class="col-2 d-flex flex-column justify-content-center text-center border-end opacity-50">
                                <span>R$40,00</spanclass=>
                            </div>
                            <div class="col-1 d-flex flex-column justify-content-center">
                                <div class="d-flex flex-row justify-content-center text-center gap-2">
                                    <i class="bi bi-arrow-up-circle fs-5" style="cursor: pointer"></i>
                                    <i class="bi bi-x-square fs-5" style="cursor: pointer"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-2 pt-2">
                    <div class="col-2 d-flex flex-column justify-content-center text-end pe-2">
                        <span>Insira seu CEP:</span>
                    </div>
                    <div class="col-1 px-0">
                        <input type="text" class="form-control px-1 cep" id="CEP" placeholder="00000-000"  minlength="9" maxlength="9" style="width: 100px; text-align: center;">
                    </div>
                    <div class="col-1">
                        <button type="submit" class="btn border shadow-sm">Calcular</button>
                    </div>
                    <div class="col-2 d-flex flex-column justify-content-center">
                        <a href="http://www.buscacep.correios.com.br/sistemas/buscacep/">Não sei meu cep</a>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-2 d-flex flex-column justify-content-center text-end border-end">
                        <p class="h6">Total do pedido:</p>
                    </div>
                    <div class="col-2 d-flex flex-column justify-content-center text-center">
                        <p class="h6">R$150,00</p>
                    </div>
                    <div class="col-1"></div>
                </div>

                <div class="row mt-3">
                    <div class="col-6 border shadow p-3">
                        <div class="form-check pb-2">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Correios - PAC - Receba em até 21 dia(s) útil(eis). - R$12,00
                            </label>
                        </div>
                        <div class="form-check pb-2">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
                            <label class="form-check-label" for="flexRadioDefault2">
                                Correios - SEDEX - Receba em até 07 dia(s) útil(eis). - R$18,00
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                            <label class="form-check-label" for="flexRadioDefault3">
                            Correios - SEDEX 10 - Receba em até 01 dia(s) útil(eis). - R$25,00
                            </label>
                        </div>
                    </div>
                    <div class="col-6 d-flex flex-row justify-content-end align-items-start text-end gap-1">
                        <a href="#"><button type="submit" class="btn border shadow-sm">Remover tudo</button></a>
                        <a href="/cliente/carrinho/escolherEndereco"><button type="submit" class="btn border shadow-sm">Comprar</button></a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Script-->
        <th:block layout:fragment="javascripts">
            <script type="text/javascript" th:src="@{/javascripts/jquery/jquery.mask.min.js}"></script>
            <script type="text/javascript" th:src="@{/javascripts/jquery/jquery.mask.js}"></script>
            <script type="text/javascript" th:src="@{/javascripts/util.js}"></script>
        </th:block>
    </body>
</html>