<!DOCTYPE html>
<html lang="pt-br"
    layout:decorate="~{layout/admin/layout}">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>GPrint3D - Admin - Categorias</title>

        <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/dataTables/jquery.dataTables.css}">
    </head>

    <body>
        <section layout:fragment="conteudo">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Categorias</h1>
            </div>

            <div th:include="~{admin/alerts :: alertAtiva}"></div>

            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th style="width: 170px;">Produtos cadastrados</th>
                        <th style="width: 60px;">Status</th>
                        <th style="width: 100px;">Editar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="categoria : ${categorias}">
                        <td th:text="${categoria.ctgNome}">Nome</td>
                        <td th:text="${categoria.listCategoriasProdutos.size}">Produtos cadastrados</td>
                        <td th:text="${categoria.getStrCtgAtivo()}">Status</td>
                        <td class="py-0 my-0">
                            <div class="row">
                                <div class="col-auto mr-auto px-0">
                                    <form th:action="@{/admin/alterarCategorias}" method="POST">
                                        <button type="submit" class="" style="background-color: transparent; border-color: transparent;" name="id" th:value="${categoria.ctgId}">
                                            <i class="bi bi-pencil-square fs-4" style="color: black;" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editar"></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="col-auto mr-auto px-0">
                                    <form th:action="@{/admin/ativaCategorias}" method="POST">
                                        <button type="submit" class="" style="background-color: transparent; border-color: transparent;" name="id" th:value="${categoria.ctgId}">
                                            <i class="bi bi-unlock fs-4" th:if="${categoria.ctgAtivo == true}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Inativar"></i>
                                            <i class="bi bi-lock fs-4" th:if="${categoria.ctgAtivo == false}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ativar"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th><input style="width: 100%" type="text" placeholder="Procurar nome"></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </section>

        <!-- Script -->
        <th:block layout:fragment="javascripts">
            <script type="text/javascript" th:src="@{/javascripts/jquery/jquery.dataTables.js}"></script>
            <script type="text/javascript" th:src="@{/javascripts/jquery/jquery.tableControl.v1.js}"></script>
        </th:block>
    </body>
</html>