<!DOCTYPE html>
<html lang="pt-br"
    layout:decorate="~{layout/admin/layout}">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>GPrint3D - Admin - Pedidos</title>

        <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/dataTables/jquery.dataTables.css}">
    </head>

    <body>
        <section layout:fragment="conteudo">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Cupons de troca</h1>
            </div>

            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th style="width: 250px;">Status</th>
                        <th style="width: 150px;">Valor</th>
                        <th style="width: 150px;">Saldo</th>
                        <th style="width: 150px;">Validade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cupom : ${cupons}">
                        <td th:text="${cupom.cliente.cliNome}">Cliente</td>
                        <td th:text="${cupom.cptStatus}">Status</td>
                        <td th:text="'R$ ' + ${#numbers.formatDecimal(produto.cptValor, 1, 'DEFAULT', 2, 'DEFAULT')}">Saldo</td>
                        <td th:text="'R$ ' + ${#numbers.formatDecimal(produto.cptSaldo, 1, 'DEFAULT', 2, 'DEFAULT')}">Saldo</td>
                        <td th:text="${#dates.format(cupom.cptValidade, 'dd/MM/yyyy')}">Validade</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th><input style="width: 100%" type="text" placeholder="Procurar cliente"></th>
                        <th><input style="width: 100%" type="text" placeholder="Procurar status"></th>
                        <th></th>
                        <th></th>
                        <th><input style="width: 100%" type="text" placeholder="Procurar validade"></th>
                    </tr>
                </tfoot>
            </table>
        </section>

        <th:block layout:fragment="javascripts">
            <!-- Script -->
            <script type="text/javascript" th:src="@{/javascripts/jquery/jquery.dataTables.js}"></script>
            <script type="text/javascript" th:src="@{/javascripts/jquery/jquery.tableControl.v1.js}"></script>
        </th:block>
    </body>
</html>