<!DOCTYPE html>
<html lang="pt-br"
    layout:decorate="~{layout/admin/layout}">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>GPrint3D - Admin - Bandeiras</title>

        <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/dataTables/jquery.dataTables.css}">
    </head>

    <body>
        <section layout:fragment="conteudo">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Bandeiras</h1>
            </div>

            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th style="width: 170px;">Cartões cadastrados</th>
                        <th style="width: 60px;">Status</th>
                        <th style="width: 100px;">Editar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="bandeira : ${bandeiras}">
                        <td th:text="${bandeira.banNome}">Nome</td>
                        <td th:text="${bandeira.listCartoes.size}">Cartões cadastrados</td>
                        <td th:text="${bandeira.getStrBanAtivo()}">Status</td>
                        <td class="py-0 my-0">
                            <div class="row">
                                <div class="col-auto mr-auto px-0">
                                    <form th:action="@{/admin/ativaBandeiras}" method="POST">
                                        <button type="submit" class="" style="background-color: transparent; border-color: transparent;" name="id" th:value="${bandeira.banId}">
                                            <i class="bi bi-unlock fs-4" th:if="${bandeira.banAtivo == true}"></i>
                                            <i class="bi bi-lock fs-4" th:if="${bandeira.banAtivo == false}"></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="col-auto mr-auto px-0">
                                    <form th:action="@{/admin/deletaBandeiras}" method="POST" th:if="${bandeira.listCartoes.size == 0}">
                                        <button type="submit" class="" style="background-color: transparent; border-color: transparent;" name="id" th:value="${bandeira.banId}">
                                            <i class="bi bi-trash fs-4"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th><input style="width: 100%" type="text" placeholder="Procurar nome"></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </section>

        <!-- Script -->
        <th:block layout:fragment="javascripts">
            <script type="text/javascript" th:src="@{/javascripts/jquery/jquery.dataTables.js}"></script>
            <script type="text/javascript" th:src="@{/javascripts/jquery/jquery.tableControl.v1.js}"></script>
        </th:block>
    </body>
</html>