<!DOCTYPE html>
<html lang="pt-br"
    layout:decorate="~{layout/layout}">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Contato</title>
    </head>

    <body>
       <section layout:fragment="conteudo">
            <div class="layout-content conteudo-trabalho">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>Envie-nos uma mensagem:</h1>
                        <div class="form-group">
                            <label for="nome">Nome:</label>
                            <input type="text" class="form-control" id="nome">

                            <label for="empresa">Empresa:</label>
                            <input type="text" class="form-control" id="empresa">

                            <label for="email">E-mail:</label>
                            <input type="text" class="form-control" id="email">

                            <label for="msg">Mensagem:</label>
                            <textarea class="form-control" rows="5" id="msg"></textarea>
                            
                            <div class="p-2 text-end">
                                <button type="button" class="btn btn-secondary border shadow-sm">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        </div>
    </body>
</html>