<!DOCTYPE html>
<html lang="pt-br"
    layout:decorate="~{layout/default/layout}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>GPrint3D - Cliente - Cadastro de Informações</title>
    </head>

    <body>
        <!-- Conteudo da página -->
       <section layout:fragment="conteudo">
            <div class="my-1">
                <div class="row">
                    <div class="col-sm">
                        <div class="row text-center">
                            <h3>Cadastro de Cliente</h3>
                        </div>

                        <div class="form-group">
                            <div class="row border shadow p-2 rounded-3">
                                <div class="row py-3">
                                    <h5>Dados pessoais</h5>
                                </div>

                                <form th:action="@{/cadastro/cadastroDadosPessoais}" method="POST">
                                    <div class="row pb-3 pe-0">
                                        <div class="row pb-3 pe-0">
                                            <div class="col-sm">
                                                <div class="form-floating">
                                                    <input type="text" class="form-control" placeholder="Nome completo ou nome da empresa" id="nome" th:field="${clientesModel.cliNome}">
                                                    <label for="nome">Nome completo ou nome da empresa</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row pb-3 pe-0">
                                            <div class="col-sm">
                                                <div class="form-floating">
                                                    <input type="date" class="form-control" placeholder="Data de Nascimento" id="dataNascimento" th:field="${clientesModel.cliDtNasc}">
                                                    <label for="dataNascimento">Data de Nascimento</label>
                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                                <div class="form-floating">
                                                    <select name="tipoTelefone" class="custom-select form-select" id="tipoTelefone" th:field="${telefonesModel.telTipo}">
                                                        <option value="" selected>Tipo de Telefone</option>
                                                        <option value="Celular">Celular</option>
                                                        <option value="Comercial">Comercial</option>
                                                        <option value="Residencial">Residencial</option>
                                                    </select>
                                                    <label for="tipoTelefone">Tipo de Telefone</label>
                                                </div>
                                            </div>

                                            <div class="col-sm-1">
                                                <div class="form-floating">
                                                    <input type="text" class="form-control" placeholder="DDD" id="DDD" th:field="${telefonesModel.telDdd}">
                                                    <label for="DDD">DDD</label>
                                                </div>
                                            </div>

                                            <div class="col-sm pe-0">
                                                <div class="form-floating">
                                                    <input type="text" class="form-control" placeholder="Telefone" id="telefone" th:field="${telefonesModel.telNumero}">
                                                    <label for="telefone">Telefone</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row pb-3 pe-0">
                                            <div class="col-sm">
                                                <div class="row border rounded text-sm-center mx-0" style="height: 58.1px">
                                                    <div class="col-sm-3">
                                                        <div class="d-flex align-items-center" style="height: 58.1px">
                                                            <span>Sexo: </span>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm">
                                                        <div class="col-sm d-flex align-items-center">
                                                            <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="Masculino" id="sexoMasculino" value="Masculino" th:field="${clientesModel.cliSexo}">
                                                                <label class="form-check-label" for="sexoMasculino">
                                                                Masculino
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm d-flex align-items-center">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="Feminino" id="sexoFeminino" value="Feminino" th:field="${clientesModel.cliSexo}">
                                                                <label class="form-check-label" for="sexoFeminino">
                                                                Feminino
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm">
                                                <div class="form-floating">
                                                    <select name="tipoDocumento" class="custom-select form-select" id="documento" th:field="${documentosModel.docNome}">
                                                        <option value="" selected>Tipo de Documento</option>
                                                        <option value="CNPJ">CNPJ</option>
                                                        <option value="CPF">CPF</option>
                                                    </select>
                                                    <label for="documento">Tipo de Documento</label>
                                                </div>
                                            </div>

                                            <div class="col-sm  pe-0">
                                                <div class="form-floating">
                                                    <input type="text" class="form-control" placeholder="Número do documento" id="numeroDocumento" th:field="${documentosModel.docNumero}">
                                                    <label for="numeroDocumento">Número do documento</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row pe-0">
                                            <div class="col-sm">
                                                <div class="form-floating">
                                                    <input type="email" class="form-control" placeholder="E-mail" id="email" th:field="${usuariosModel.usuEmail}" required>
                                                    <label for="email">E-mail</label>
                                                </div>
                                            </div>

                                            <div class="col-sm">
                                                <div class="form-floating">
                                                    <input type="password" class="form-control" placeholder="Senha" id="password" th:field="${usuariosModel.usuSenha}" required>
                                                    <label for="password">Senha</label>
                                                </div>
                                            </div>

                                            <div class="col-sm pe-0">
                                                <div class="form-floating">
                                                    <input type="password" class="form-control" placeholder="Confirmação de Senha" id="confirm_password" required>
                                                    <label for="confirm_password">Confirmação de Senha</label>
                                                </div>
                                            </div>

                                            <input type="text" name="teste" value="ADM" style="display: none;" th:field="${usuariosModel.usuRegra}"/>
                                        </div>
                                    </div>

                                    <div class="row pe-0">
                                        <div class="row pe-0">
                                            <div class="col-sm-2"></div>

                                            <div class="col-sm pe-0">
                                                <div class="row" style="height: 17.5px;">
                                                    <div class="col"></div>

                                                    <div class="col-3 align-bottom">
                                                        <input type="range" class="form-range" min="0" max="2" step="1" value=0 id="signupPag" disabled>
                                                    </div>

                                                    <div class="col"></div>
                                                </div>
                                
                                                <div class="row" style="height: 17.5px;">
                                                    <div class="col"></div>

                                                    <div class="col-1 text-start ps-3">
                                                        <p class="fs-8">1</p>
                                                    </div>

                                                    <div class="col-1 text-center">
                                                        <p class="fs-8">2</p>
                                                    </div>

                                                    <div class="col-1 text-end pe-3">
                                                        <p class="fs-8">3</p>
                                                    </div>

                                                    <div class="col"></div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-sm-2">
                                                <div class="text-end">
                                                    <button type="submit" class="btn border shadow-sm">Próximo</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>