<!DOCTYPE html>
<html lang="pt-br"
    layout:decorate="~{layout/default/layout}">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/product.css}">

        <title>GPrint3D - Home</title>
    </head>

    <body>
        <section layout:fragment="conteudo">
            <div class="container mb-5 border shadow">
                <div class="row border-bottom">
                    <div class="col-1 d-grid gap-3 py-4">
                        <!-- <img src="/images/Teste.png" id="img-zoom" class="img-thumbnail selectable active-thumbnail mt-3" alt="..." onclick="activate(this)">
                        <img src="/images/Teste.png" class="img-thumbnail selectable" alt="..." onclick="activate(this)">
                        <img src="/images/Teste.png" class="img-thumbnail selectable" alt="..." onclick="activate(this)">
                        <img src="/images/Teste.png" class="img-thumbnail selectable" alt="..." onclick="activate(this)">
                        <img src="/images/Teste.png" class="img-thumbnail selectable mb-3" alt="..." onclick="activate(this)"> -->
                        
                        <!-- <div class="mt-3"></div> -->
                        <img th:if="${produto.listFotos.size == 0}" src="/images/Teste.png" class="img-thumbnail selectable active-thumbnail mb-3">
                        <img th:each="foto, stat : ${produto.listFotos}" th:src="@{'data:image/jpg;base64,' + ${foto.generateBase64Image()}}" th:classappend="${stat.first} ? 'active-thumbnail'" th:alt="${produto.prdNome}" onclick="activate(this)">
                        <!-- <div class="mb-3"></div> -->
                    </div>
                    <div class="col-8 d-flex align-items-center justify-content-center my-3">
                        <img src="/images/Teste.png" class="img-fluid mx-auto" alt="..." style="width: 40hw; height: 40vh;">
                    </div>
                    <div class="col-3 border-start pt-4">
                        <div class="row">
                            <p class="h2 mb-3" th:text="${produto.prdNome}">Produto</p>
                        </div>
                        <div class="row mb-3">
                            <!-- <span class="fs-6 text-decoration-line-through text-black-50">R$ 99,99</span><br> -->
                            <span class="fs-4 fw-bolder" th:text="'R$ ' + ${#numbers.formatDecimal(produto.prdPreco, 1, 'DEFAULT', 2, 'DEFAULT')}">R$ 50,00</span>
                        </div>
                        <i class="bi bi-truck mb-1"></i><span> Calcule o frete:</span>
                        <div class="d-flex flex-row justify-content-center gap-3 mb-3 mt-1">
                            <input type="text" class="form-control px-1 cep" id="CEP" minlength="9" maxlength="9" placeholder="00000-000" style="width: 100px; text-align: center;">
                            <button type="button" class="btn border shadow-sm">Calcular</button>
                        </div>
                        <p class="fs-8 mb-1 mt-3">Quantidade em estoque: X itens.</p>
                        <div class="row px-3 mb-2 mt-1">
                            <a href="#" class="btn border shadow-sm">Adicionar ao carrinho</a>
                        </div>
                        <div class="row px-3 my-2">
                            <a href="/carrinho/meuCarrinho" class="btn border shadow-sm">Comprar</a>
                        </div>

                    </div>
                </div>
                <div class="row border-bottom py-4">
                    <div class="row mb-3">
                        <p class="h4">Características do produto</p>
                    </div>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-4">
                            <table class="table table-bordered table-light table-striped">
                                <thead>
                                    <tr>
                                        <th colspan="2" class="table-secondary">Dimensões do produto</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Altura</th>
                                        <td th:text="${produto.prdDimPrdAl} + ' mm'">8 mm</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Largura</th>
                                        <td th:text="${produto.prdDimPrdLa} + ' mm'">12 mm</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Profundidade</th>
                                        <td th:text="${produto.prdDimPrdPr} + ' mm'">16 mm</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Peso</th>
                                        <td th:text="${produto.prdDimPrdPe} + ' kg'">1,0 kg</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-4">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th colspan="2" class="table-secondary">Dimensões da embalagem</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Altura</th>
                                        <td th:text="${produto.prdDimEmbAl} + ' mm'">10 mm</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Largura</th>
                                        <td th:text="${produto.prdDimEmbLa} + ' mm'">15 mm</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Profundidade</th>
                                        <td th:text="${produto.prdDimEmbPr} + ' mm'">20 mm</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Peso</th>
                                        <td th:text="${produto.prdDimEmbPe} + ' kg'">1,5 kg</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
                <div class="row py-4">
                    <p th:text="${produto.prdDescricao}">Produto assim e assado, que faz isso e aquilo.</p>
                    <ul><span>Vantagens:</span>
                        <li class="ms-5">Vantagem 1</li>
                        <li class="ms-5">Vantagem 2</li>
                        <li class="ms-5">Vantagem 3</li>
                        <li class="ms-5">Vantagem 4</li>
                        <li class="ms-5">Vantagem 5</li>
                    </ul>
                    <ul><span>Desvantagens:</span>
                        <li class="ms-5">Desvantagens 1</li>
                        <li class="ms-5">Desvantagens 2</li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Script-->
        <th:block layout:fragment="javascripts">
            <script type="text/javascript" th:src="@{/javascripts/jquery/jquery.mask.min.js}"></script>
            <script type="text/javascript" th:src="@{/javascripts/jquery/jquery.mask.js}"></script>
            <script type="text/javascript" th:src="@{/javascripts/product.js}"></script>
            <!--<script>imageZoom("img-zoom", "myresult");</script>-->
        </th:block>
    </body>
</html>