<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/bootstrap/bootstrap.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/error.css}">
        
        <title>500</title>
    </head>

    <body class="text-center">
        <section layout:fragment="conteudo">
            <div class="error-message">
                <h1 class="h1 mb-3 font-weight-normal">500</h3>
                <h5 class="h5 mb-3 font-weight-normal">Desculpe, algo muito estranho aconteceu e não conseguimos processar a sua requisição</h1>
                <h5 class="h5 mb-3 font-weight-normal">Tente de novo ou entre em contato com a gente se precisar de ajuda</h1>
                <a href="javascript:history.back()" class="btn btn-lg btn-dark btn-block">Voltar</a>
            </div>
        </section>
    </body>
</html>