<!DOCTYPE html>
<html lang="pt-br"
    layout:decorate="~{layout/default/layout}">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- CSS -->
        <th:block layout:fragment="css">
            <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/error.css}">
        </th:block>
        
        <title>???</title>
    </head>

    <body>
        <section layout:fragment="conteudo">
            <div class="error-box">
                <div class="col-sm text-center">
                    <div class="error-message border shadow p-2 rounded-3">
                        <h1 class="h1 mb-3 font-weight-normal">???</h3>
                        <h5 class="h5 mb-3 font-weight-normal">Desculpe, a página que você tentou acessar não foi encontrada ou não existe mais</h1>
                        <h5 class="h5 mb-3 font-weight-normal">Verifique se a URL está correta ou entre em contato com a gente se precisar de ajuda</h1>
                        <a href="javascript:history.back()" class="btn btn-lg btn-dark btn-block">Voltar</a>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>