<html>
    <body>
        <div th:fragment="header">
            <header class="navbar navbar-light sticky-top bg-secondary flex-sm-nowrap p-0 shadow">
                <a class="navbar-brand col-sm-2 me-0 px-3" href="#">
                    <span class="text-dark fw-bolder">G</span>
                    <span class="text-white fw-bolder">Print</span>
                    <span class="text-white-50s fw-bolder">3D</span>
                </a>
                <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="d-grid gap-2 d-md-flex justify-content-md-end pe-3">
                    <div class="btn-group">
                        <a class="btn btn-secondary" style="color: white; text-decoration: none;" href="/carrinho/meuCarrinho">
                            <i class="bi bi-cart3 fs-5"></i>
                        </a>
                        <a href="/index" class="btn btn-secondary" style="color: white; text-decoration: none;"><i class="bi bi-house fs-5"></i></a>
                        <a href="/logout" class="btn btn-secondary" style="color: white; text-decoration: none;"><i class="bi bi-box-arrow-right fs-5"></i></a>
                    </div>
                </div>
            </header>
        </div>
    </body>
</html>