<!DOCTYPE html>
<html lang="pt-br"
    layout:decorate="~{layout/admin/layout}">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>GPrint3D - Admin - Pedidos</title>
    </head>

    <body>
        <section layout:fragment="conteudo">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2" th:text="'Pedido de compra - ' + ${pedido.pdcNumero}">Numero do pedido</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <a href="/admin/pedido/listarPedidosCompras" class="btn btn-sm btn-outline-secondary">
                        Voltar
                    </a>
                </div>
            </div>

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" th:href="'/admin/pedido/infoCompras/' + ${pedido.pdcId} + '/dados'">Dados gerais</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="'/admin/pedido/infoCompras/' + ${pedido.pdcId} + '/produtos'">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="'/admin/pedido/infoCompras/' + ${pedido.pdcId} + '/cliente'">Cliente</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="'/admin/pedido/infoCompras/' + ${pedido.pdcId} + '/enderecos'">Endereços</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="'/admin/pedido/infoCompras/' + ${pedido.pdcId} + '/cartoes'">Cartão</a>
                </li>
            </ul>

            <table class="table my-3">
                <thead>
                    <tr>
                        <th scope="col" style="width: 250px;">Informações do cliente</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Nome</th>
                        <td th:text="${pedido.cliente.cliNome}">Nome</td>
                    </tr>
                    <tr>
                        <th scope="row" th:text="${pedido.cliente.listDocumento[0].docTipo}">CPF</th>
                        <td th:text="${pedido.cliente.listDocumento[0].docNumero}">CPF</td>
                    </tr>
                    <tr>
                        <th scope="row">E-mail</th>
                        <td th:text="${pedido.cliente.usuario.usuEmail}">Frete</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </body>
</html>