<!DOCTYPE html>
<html lang="pt-br"
    layout:decorate="~{layout/admin/layout}">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>GPrint3D - Admin - Entradas</title>

        <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/dataTables/jquery.dataTables.css}">
    </head>

    <body>
        <section layout:fragment="conteudo">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Entradas</h1>
            </div>

            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Nome do produto</th>
                        <th>Fornecedor</th>
                        <th style="width: 150px;">Preço de custo</th>
                        <th style="width: 100px;">Quantidade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="entrada : ${entradas}">
                        <td th:text="${entrada.produto.prdNome}">Nome do produto</td>
                        <td th:text="${entrada.entFornecedor}">Fornecedor</td>
                        <td th:text="'R$ ' + ${#numbers.formatDecimal(entrada.entPrecoCusto, 1, 'DEFAULT', 2, 'DEFAULT')}">Preço de custo</td>
                        <td th:text="${entrada.entQuantidade}">Quantidade</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th><input style="width: 100%" type="text" placeholder="Procurar nome do produto"></th>
                        <th><input style="width: 100%" type="text" placeholder="Procurar fornecedor"></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </section>

        <!-- Script -->
        <th:block layout:fragment="javascripts">
            <script type="text/javascript" th:src="@{/javascripts/jquery/jquery.dataTables.js}"></script>
            <script type="text/javascript" th:src="@{/javascripts/jquery/jquery.tableControl.admin.cliente.js}"></script>
        </th:block>
    </body>
</html>