<!DOCTYPE html>
<html lang="pt-br"
    layout:decorate="~{layout/admin/layout}">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/drag.and.drop.css}">

        <title>GPrint3D - Admin - Produtos</title>
    </head>

    <body>
        <section layout:fragment="conteudo">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Cadastro de fotos</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <a href="/admin/listarProdutos" class="btn btn-sm btn-outline-secondary">
                        Voltar
                    </a>
                </div>
            </div>
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Adicionar uma foto</button>

            <div th:if="${fotos.size == 0}" class="text-center my-5 h3">Nenhuma foto cadastrada</div>
            
            <div class="row my-4">
                <div class="col d-flex justify-content-start mb-4" th:each="foto : ${fotos}">
                    <div class="card" style="width: 18rem;">
                        <img th:src="@{'data:image/jpg;base64,' + ${foto.generateBase64Image()}}" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title" th:text="${foto.ftoNome}">Nome</h5>
                            <p class="card-text" th:text="${#dates.format(foto.ftoData, 'dd/MM/yyyy')}">Data</p>
                            <form th:action="@{/admin/deleteFotos}" method="POST">
                                <input type="hidden" name="id" th:field="${produto.prdId}">
                                <button type="submit" class="btn btn-danger w-100" name="id" th:value="${foto.ftoId}">Excluir</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Adicionar nova imagem</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form th:action="@{/admin/addFotos}" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="id" th:field="${produto.prdId}">
                            <div class="modal-body">
                                <div class="drop-zone mb-3" id="drop-zone">
                                    <span class="drop-zone__prompt">Arraste a imagem e solte-a aqui ou selecione um arquivo</span>
                                    <input type="file" name="foto" class="drop-zone__input" accept="image/*"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary">Adicionar foto</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <th:block layout:fragment="javascripts">
            <!-- Script -->
            <script type="text/javascript" th:src="@{/javascripts/drag.and.drop.js}"></script>
        </th:block>
    </body>
</html>