<!DOCTYPE html>
<html lang="pt-br"
    layout:decorate="~{layout/admin/layout}">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>GPrint3D - Admin - Justificavas de produtos</title>

        <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/dataTables/jquery.dataTables.css}">
    </head>

    <body>
        <section layout:fragment="conteudo">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Justificavas de produtos</h1>
            </div>

            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th style="width: 350px;">Produto</th>
                        <th style="width: 250px;">Categorias</th>
                        <th style="width: 100px;">Ação</th>
                        <th>Justificava</th>
                        <th style="width: 100px;">Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="justificativa : ${justificativas}">
                        <td th:text="${justificativa.pjuProduto}">Produto</td>
                        <td th:text="${justificativa.pjuCategorias}">Categorias</td>
                        <td th:text="${justificativa.pjuAcao}">Ação</td>
                        <th th:text="${justificativa.pjuJustificativa}">Justificava</th>
                        <th th:text="${justificativa.pjuData}">Data</th>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th><input style="width: 100%" type="text" placeholder="Procurar nome"></th>
                        <th><input style="width: 100%" type="text" placeholder="Procurar categoria"></th>
                        <th><input style="width: 100%" type="text" placeholder="Procurar ação"></th>
                        <th></th>
                        <th><input style="width: 100%" type="text" placeholder="Procurar data"></th>
                    </tr>
                </tfoot>
            </table>
        </section>

        <th:block layout:fragment="javascripts">
            <!-- Script -->
            <script type="text/javascript" th:src="@{/javascripts/jquery/jquery.dataTables.js}"></script>
            <script type="text/javascript" th:src="@{/javascripts/jquery/jquery.tableControl.admin.cliente.js}"></script>
        </th:block>
    </body>
</html>