<!DOCTYPE html>
<html lang="pt-br"
    layout:decorate="~{layout/default/layout}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/pedidos.css}">

        <title>GPrint3D - Cliente - Confirmar Pedido</title>
    </head>

    <body>
        <!-- Conteudo da página -->
        <section layout:fragment="conteudo">
            <div class="container mb-4">
                <div class="row pe-0 pb-3">
                    <div class="col-sm pe-0">
                        <div class="row" style="height: 17.5px;">
                            <div class="col"></div>

                            <div class="col-3 align-bottom px-0">
                                <input type="range" class="form-range" min="0" max="3" step="1" value="3" id="fluxoCompra" disabled>
                            </div>

                            <div class="col"></div>
                        </div>
        
                        <div class="row" style="height: 17.5px;">
                            <div class="col"></div>

                            <div class="col-1 text-center">
                                <i class="bi bi-cart3 fs-4"></i>
                            </div>

                            <div class="col-1 text-center">
                                <i class="bi bi-truck fs-4"></i>
                            </div>

                            <div class="col-1 text-center">
                                <i class="bi bi-credit-card fs-4"></i>
                            </div>

                            <div class="col-1 text-center">
                                <i class="bi bi-check2-circle fs-4"></i>
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container mb-4">
                <div class="row">
                    <p class="h2">Confirme os dados do pedido</p>
                </div>
            </div>

            <div class="container border shadow my-4">
                <div class="row valores" onclick="showElement(this)">
                    <div class="col pt-3 pb-2">
                        <p class="h5">Produtos</p>
                    </div>
                    <div class="col-2 d-flex flex-colum align-items-center justify-content-end">
                        <span class="fst-italic">R$150,00</span>
                    </div>
                    <div class="col-1 d-flex flex-colum align-items-center justify-content-center">
                        <i class="bi bi-caret-down"></i>
                    </div>
                </div>
                
                <div id="detalhesValores">
                    <div class="border-top visually-hidden">
                        <table class="table mt-2">
                            <tbody>
                                <tr>
                                    <th scope="col" class="col-2">Produto</th>
                                    <th scope="col" class="col-2 text-center">Qtd</th>
                                    <th scope="col" class="col-2 text-center">Preço un</th>
                                    <th scope="col" class="col-2 text-center">Sub-total</th>
                                </tr>
                                <tr>
                                    <td>Produto 1</td>
                                    <td class="text-center">3</td>
                                    <td class="text-center">R$50,00</td>
                                    <td class="text-center">R$150,00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="container border shadow my-4">
                <div class="row enderecos" onclick="showElement(this)">
                    <div class="col pt-3 pb-2">
                        <p class="h5">Endereço de entrega</p>
                    </div>
                    <div class="col-2 d-flex flex-colum align-items-center justify-content-end">
                        <span class="fst-italic">R$120,00</span>
                    </div>
                    <div class="col-1 d-flex flex-colum align-items-center justify-content-center">
                        <i class="bi bi-caret-down"></i>
                    </div>
                </div>

                <div id="detalhesEndereco">
                    <div class="border-top visually-hidden">
                        <div class="row">
                            <div class="col-6">
                                <table class="table mb-3">
                                    <tbody>
                                        <tr>
                                            <th scope="row" class="col-3">Descrição:</th>
                                            <td>Casa</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Endereço:</th>
                                            <td>Rua João das Neves, 123 - Complemento</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Cidade / UF:</th>
                                            <td>Mogi das Cruzes / SP</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">CEP:</th>
                                            <td>12345-123</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-6">
                                <div class="row d-flex flex-column align-self-center border shadow p-3 m-4">
                                    <p class="m-0">Correios - PAC - Receba em até 21 dia(s) útil(eis). - R$12,00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container border shadow my-4">
                <div class="row enderecos" onclick="showElement(this)">
                    <div class="col pt-3 pb-2">
                        <p class="h5">Cupons</p>
                    </div>
                    <div class="col-2 d-flex flex-colum align-items-center justify-content-end">
                        <span class="fst-italic">R$-30,00</span>
                    </div>
                    <div class="col-1 d-flex flex-colum align-items-center justify-content-center">
                        <i class="bi bi-caret-down"></i>
                    </div>
                </div>

                <div id="detalhesCupons">
                    <div class="border-top visually-hidden p-2">
                        <div class="row pt-2 pb-0">
                            <p>Cupons aplicados:</p>
                        </div>
                        <div class="row fst-italic pb-3">
                            <div class="col">
                                <i class="bi bi-check-circle d-inline"></i>
                                <span class="d-inline">Cupom XXXXX aplicado no valor de </span><span class="fw-bold">R$30,00</span><span>.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container border shadow my-4">
                <div class="row enderecos" onclick="hideElement(this)">
                    <div class="col pt-3 pb-2">
                        <p class="h5">Pagamento</p>
                    </div>
                    
                    <div class="col-2 d-flex flex-colum align-items-center justify-content-end">
                        <span class="fst-italic">R$-132,00</span>
                    </div>
                    <div class="col-1 d-flex flex-colum align-items-center justify-content-center">
                        <i class="bi bi-caret-up"></i>
                    </div>
                </div>

                <div id="detalhesPagamento">
                    <div class="border-top p-2">
                        <div class="row">
                            <table class="table mt-2">
                                <tbody>
                                    <tr>
                                        <th scope="col" class="col-3">Número</th>
                                        <th scope="col" class="col-4">Nome</th>
                                        <th scope="col" class="col-2">Bandeira</th>
                                        <th scope="col" class="col-2 text-center">Valor</th>
                                        <th scope="col" class="col-1-sm text-center">CVV</th>
                                    </tr>
                                    <tr>
                                        <td>1234 1234 1234 1234</td>
                                        <td>José da Silva</td>
                                        <td>Visa</td>
                                        <td class="text-center">R$132,00</td>
                                        <td><input type="text" class="form-control cvv p-0" value="123" minlength="3" maxlength="3" id="cvv" style="text-align: center;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container my-4"></div>
                <div class="row mt-2 pb-2">
                    <div class="col-7 text-start">
                        <a href="/cliente/carrinho/escolherPagamento"><button type="submit" class="btn border shadow-sm">Voltar</button></a>
                    </div>
                    <div class="col text-end">
                        <a href="/cliente/meusPedidos"><button type="submit" class="btn border shadow-sm">Confirmar</button></a>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Script-->
        <th:block layout:fragment="javascripts">
            <script type="text/javascript" th:src="@{/javascripts/util.js}"></script>
            <script type="text/javascript" th:src="@{/javascripts/jquery/jquery.mask.min.js}"></script>
            <script type="text/javascript" th:src="@{/javascripts/jquery/jquery.mask.js}"></script>
        </th:block>
    </body>
</html>