<!DOCTYPE html>
<html lang="pt-br"
    layout:decorate="~{layout/default/layout}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!--CSS-->
        <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/pedidos.css}">

        <title>GPrint3D - Cliente - Confirmar Pagamento</title>
    </head>

    <body>
        <!-- Conteudo da página -->
        <section layout:fragment="conteudo">
            <div class="container bg-white fixed-top" style="margin-top: 60px; padding-top: 30px; padding-bottom: 15px; z-index: 2;">
                <div class="row pe-0 pb-3">
                    <div class="col-sm pe-0">
                        <div class="row" style="height: 17.5px;">
                            <div class="col"></div>

                            <div class="col-3 align-bottom px-0">
                                <input type="range" class="form-range" min="0" max="3" step="1" value="2" id="fluxoCompra" disabled>
                            </div>

                            <div class="col"></div>
                        </div>
        
                        <div class="row" style="height: 17.5px;">
                            <div class="col"></div>

                            <div class="col-1 text-center">
                                <i class="bi bi-cart3 fs-4"></i>
                            </div>

                            <div class="col-1 text-center">
                                <i class="bi bi-truck fs-4"></i>
                            </div>

                            <div class="col-1 text-center">
                                <i class="bi bi-credit-card fs-4"></i>
                            </div>

                            <div class="col-1 text-center">
                                <i class="bi bi-check2-circle fs-4"></i>
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container mt-6 mb-4">
                <div class="row">
                    <p class="h2">Escolha o método de pagamento</p>
                </div>
            </div>

            <div class="container border shadow my-4">
                <div class="row valores" onclick="showElement(this)">
                    <div class="col pt-3 pb-2">
                        <p class="h5">Valor total do pedido</p>
                    </div>
                    <div class="col-2 d-flex flex-colum align-items-center justify-content-end">
                        <span class="fst-italic text-danger" th:text="'R$ ' + ${#numbers.formatDecimal(pedidoCompra.getValorTotalProdutos() + frete.pcfValor, 1, 'DEFAULT', 2, 'DEFAULT')}">R$ 162,00</span>
                    </div>
                    <div class="col-1 d-flex flex-colum align-items-center justify-content-center">
                        <i class="bi bi-caret-down"></i>
                    </div>
                </div>

                <div id="detalhesValores">
                    <div class="border-top visually-hidden">
                        <table class="table mt-2">
                            <tbody>
                                <tr>
                                    <th scope="col" class="col-6">Produto</th>
                                    <th scope="col" class="col-2 text-center">Qtd</th>
                                    <th scope="col" class="col-2 text-center">Preço un</th>
                                    <th scope="col" class="col-2 text-center">Sub-total</th>
                                </tr>
                                <tr th:each="produto : ${carrinho.getListProdutosAtivo()}">
                                    <td th:text="${produto.produto.prdNome}">Produto 1</td>
                                    <td class="text-center" th:text="${produto.pcrQuantidade}">3</td>
                                    <td class="text-center" th:text="'R$ ' + ${#numbers.formatDecimal(produto.produto.prdPreco, 1, 'DEFAULT', 2, 'DEFAULT')}">R$50,00</td>
                                    <td class="text-center" th:text="'R$ ' + ${#numbers.formatDecimal(produto.produto.prdPreco * produto.pcrQuantidade, 1, 'DEFAULT', 2, 'DEFAULT')}">R$150,00</td>
                                </tr>
                                <tr>
                                    <th scope="row" colspan="3" class="border-0 text-end">Frete:</th>
                                    <td class="border-0 text-center" th:text="'R$ ' + ${#numbers.formatDecimal(frete.pcfValor, 1, 'DEFAULT', 2, 'DEFAULT')}">R$ 12,00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="container border shadow my-4">
                <div class="row cupons" onclick="showElement(this)">
                    <div class="col pt-3 pb-2">
                        <p class="h5">Cupons</p>
                    </div>
                    <div class="col-2 d-flex flex-colum align-items-center justify-content-end">
                        <span class="fst-italic text-success" th:text="'R$ ' + ${#numbers.formatDecimal(pedidoCompra.getValorTotalCupons(), 1, 'DEFAULT', 2, 'DEFAULT')}">R$ 0,00</span>
                    </div>
                    <div class="col-1 d-flex flex-colum align-items-center justify-content-center">
                        <i class="bi bi-caret-down"></i>
                    </div>
                </div>

                <div id="detalhesCupons">
                    <div class="border-top visually-hidden">
                        <div class="row p-2">
                            <div class="col" th:classappend="${not #lists.isEmpty(pedidoCompra.listPedCuponsTrocas)} ? border-end">
                                <div class="row pt-2 pb-0">
                                    <p>Seus cupons de troca disponíveis:</p>
                                </div>
                                <div class="row" th:if="${#lists.isEmpty(cuponsTrocasCliente)}">
                                    <span class="text-danger">Você não possui nenhum cupom no momento.</span>
                                </div>
                                <div class="row" th:each="cupom : ${cuponsTrocasCliente}">
                                    <div class="col">
                                        <form th:action="@{/cliente/carrinho/aplicaCupomTroca}" method="POST">
                                            <input class="visually-hidden" type="hidden" name="codigo" th:value="${cupom.cptCodigo}">
                                            <button type="submit" class="btn text-start px-0">
                                                <i class="bi bi-check-circle d-inline text-success"></i>
                                                <span class="d-inline">Cupom </span><span class="fw-bold" th:text="${cupom.cptCodigo}">código do cupom</span><span> com saldo de </span><span class="fw-bold" th:text="'R$ ' + ${#numbers.formatDecimal(cupom.cptSaldo, 1, 'DEFAULT', 2, 'DEFAULT')}">R$ 0,00</span><span>.</span>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="col" th:if="${not #lists.isEmpty(pedidoCompra.listPedCuponsTrocas)}">
                                <div class="row pt-2 pb-0">
                                    <p>Cupons de troca aplicados:</p>
                                </div>
                                <div class="row fst-italic" th:each="cupomPedido : ${pedidoCompra.listPedCuponsTrocas}">
                                    <div class="col">
                                        <form th:action="@{/cliente/carrinho/removeCupomTroca}" method="POST">
                                            <input class="visually-hidden" type="hidden" name="codigo" th:value="${cupomPedido.cupom.cptCodigo}">
                                            <button type="submit" class="btn text-start px-0">
                                                <i class="bi bi-x-circle d-inline text-danger"></i>
                                                <span class="d-inline">Cupom </span><span class="fw-bold" th:text="${cupomPedido.cupom.cptCodigo}">código do cupom</span><span> aplicado no valor de </span><span class="fw-bold" th:text="'R$ ' + ${#numbers.formatDecimal(cupomPedido.cupom.cptSaldo, 1, 'DEFAULT', 2, 'DEFAULT')}">R$ 0,00</span><span>.</span>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row p-2" th:if="${#lists.isEmpty(pedidoCompra.getListPedCuponsPromocoes)}">
                            <div class="col border-top">
                                <div class="row pt-2 pb-0">
                                    <p>Possui algum cupom promocional?</p>
                                </div>
                                <form th:action="@{/cliente/carrinho/aplicaCupomPromocional}" method="POST">
                                    <div class="row">
                                        <div class="col-10">
                                            <input type="text" class="form-control" name="codigo" placeholder="" id="cupom">
                                        </div>
                                        <div class="col-2 text-center pb-2">
                                            <button type="submit" class="btn border shadow-sm">Aplicar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row p-2" th:if="${not #lists.isEmpty(pedidoCompra.getListPedCuponsPromocoes)}">
                            <div class="col border-top">
                                <div class="row pt-2 pb-0">
                                    <p>Cupom promocional aplicado:</p>
                                </div>
                                <div class="row fst-italic">
                                    <div class="col">
                                        <form th:action="@{/cliente/carrinho/removeCupomPromocional}" method="POST">
                                            <input class="visually-hidden" type="hidden" name="codigo" th:value="${pedidoCompra.getListPedCuponsPromocoes().get(0).getCupom().getCppCodigo()}">
                                            <button type="submit" class="btn text-start px-0">
                                                <i class="bi bi-x-circle d-inline text-danger"></i>
                                                <span class="d-inline">Cupom </span>
                                                <span class="fw-bold" th:text="${pedidoCompra.getListPedCuponsPromocoes().get(0).getCupom().getCppCodigo()}">código do cupom</span>
                                                <span> aplicado na categoria </span>
                                                <span class="fw-bold" th:text="${pedidoCompra.getListPedCuponsPromocoes().get(0).getCupom().getCategoria().getCtgNome()}">categoria</span>
                                                <span> com desconto de </span>
                                                <span class="fw-bold" th:text="${pedidoCompra.getListPedCuponsPromocoes().get(0).getCupom().getCppDesconto()} + '%'">% de desconto</span>
                                                <span> equivalente a </span>
                                                <span class="fw-bold" th:text="'R$ ' + ${#numbers.formatDecimal(pedidoCompra.getValorCupomPromocao(), 1, 'DEFAULT', 2, 'DEFAULT')}">valor do cupom em reais R$ 0,00</span>
                                                <span>.</span>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container border shadow my-4">
                <div class="row cartoes" onclick="showElement(this)">
                    <div class="col pt-3 pb-2">
                        <p class="h5">Meus cartões</p>
                    </div>
                    <div class="col-1 d-flex flex-colum align-items-center justify-content-center">
                        <i class="bi bi-caret-down"></i>
                    </div>
                </div>
                
                <!-- Listagem dos cartões -->
                <div>
                    <div th:insert="~{cliente/visualizar/listaCartoes :: listaCartoes}" id="detalhesCartoes" class="visually-hidden border-top"></div>
                </div>
            </div>

            <div class="container border shadow my-4">
                <div class="row pagamentos" onclick="hideElement(this)">
                    <div class="col pt-3 pb-2">
                        <p class="h5">Pagamento</p>
                    </div>
                    <div class="col-2 d-flex flex-colum align-items-center justify-content-end">
                        <span class="fst-italic text-success" th:text="'R$ ' + ${#numbers.formatDecimal(pedidoCompra.getValorTotalCartoes(), 1, 'DEFAULT', 2, 'DEFAULT')}">R$ 162,00</span>
                    </div>
                    <div class="col-1 d-flex flex-colum align-items-center justify-content-center">
                        <i class="bi bi-caret-up"></i>
                    </div>
                </div>

                
                <div id="detalhesPagamentos">
                    <div class="border-top">
                        <table class="table mt-2">
                            <tbody>
                                <tr>
                                    <th scope="col" class="col-3">Número</th>
                                    <th scope="col" class="col-3">Nome</th>
                                    <th scope="col" class="col-2">Bandeira</th>
                                    <th scope="col" class="col-2 text-center">Valor</th>
                                    <th scope="col" class="col-2 text-center">Remover</th>
                                </tr>
                                <tr th:each="pedCartao : ${pedidoCompra.listPedCartoes}" th:if="!${#lists.isEmpty(pedidoCompra.listPedCartoes)}">
                                    <td th:text="${pedCartao.cartao.crtNumero}">1234 1234 1234 1234</td>
                                    <td th:text="${pedCartao.cartao.crtNome}">José da Silva</td>
                                    <td th:text="${pedCartao.cartao.bandeira.banNome}">Visa</td>
                                    <td>
                                        <form th:action="@{/cliente/carrinho/atualizarCartao}" method="POST" class="px-0 m-0">
                                            <input type="hidden" class="hidden" name="index" th:value="${pedCartaoStat.index}"/>
                                            <input type="text" class="form-control dinheiro text-center p-0" placeholder="R$ 0,00" name="valor" th:value="'R$ ' + ${#numbers.formatDecimal(pedCartao.pctValor, 1, 'DEFAULT', 2, 'DEFAULT')}" data-thousands="." data-decimal="," data-prefix="R$ " onfocusout="submit(this)">
                                        </form>
                                    </td>
                                    <td class="text-center">
                                        <form th:action="@{/cliente/carrinho/removeCartao}" method="POST" class="px-0">
                                            <button type="submit" class="bg-transparent border-0" name="index" th:value="${pedCartaoStat.index}" style="cursor: pointer">
                                                <i class="bi bi-x-square fs-5"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                <tr th:if="${#lists.isEmpty(pedidoCompra.listPedCartoes)}">
                                    <td class="text-danger text-center" colspan="12">Você ainda não adicionou nenhum cartão para pagamento do carrinho, escolha um cartão para aparecer aqui.</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row" th:if="${!(((pedidoCompra.getValorTotalProdutos() + frete.pcfValor) - pedidoCompra.getValorTotalCartoes()) &lt; 0.01)}">
                            <div class="col-8 text-end fw-bold">
                                <p>Pendente:</p>
                            </div>
                            <div class="col-2 text-center">
                                <p class="text-danger" th:text="'R$ ' + ${#numbers.formatDecimal((pedidoCompra.getValorPendenteTotal()), 1, 'DEFAULT', 2, 'DEFAULT')}">R$ 0,00</p>
                            </div>
                            <div class="col-3"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container my-4">
                <div class="row pb-2">
                    <div class="col-7 text-start">
                        <a href="/cliente/carrinho/escolherEndereco"><div type="submit" class="btn border shadow-sm" id="voltar">Voltar</div></a>
                    </div>
                    <div class="col text-end">
                        <form th:action="@{/cliente/carrinho/confirmarPagamento}" method="POST" class="px-0">
                            <button type="submit" class="btn border shadow-sm" id="confirmar">Confirmar</button>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="position-fixed top-0 mt-6 end-0 p-3" style="z-index: 5" th:if="${not #strings.isEmpty(error)}">
                <div id="mensagemErroToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">Erro</strong>
                        <small>Agora</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body" th:text="${error}">Erro</div>
                </div>
            </div>
        </section>

        <!-- Script-->
        <th:block layout:fragment="javascripts">
            <script type="text/javascript" th:src="@{/javascripts/util.js}"></script>
            <script type="text/javascript" th:src="@{/javascripts/jquery/jquery-3.6.0.min.js}"></script>
            <script type="text/javascript" th:src="@{/javascripts/jquery/jquery.maskMoney.js}"></script>
            <script type="text/javascript" th:src="@{/javascripts/jquery/jquery.maskMoney.min.js}"></script>
            <script type="text/javascript" th:src="@{/javascripts/carrinho.js}"></script>
            <script type="text/javascript" th:src="@{/javascripts/toasts.js}"></script>
            <script type="text/javascript" th:inline="javascript">
                window.addEventListener('load', function ()
                {
                    /*modificarBotoes("cartao");*/
                });

                $(function() {
                    $('.dinheiro').maskMoney();
                })
            </script>
        </th:block>
    </body>
</html>