<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{layout/cliente/layout}">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>GPrint3D - Cliente - Alterar Cartão</title>
    </head>

    <body>
        <section layout:fragment="conteudo">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Alterar cartão</h1>
            </div>

            <div class="mt-5">
                <form class="form-group" th:action="@{/cliente/alteraCartao}" method="POST">

                    <input type="hidden" th:field="${cartao.crtId}"></input>
                    <input type="hidden" th:field="${cartao.crtCvv}"></input>
                    <input type="hidden" th:field="${cartao.cliente.cliId}"></input>

                    <div class="container border shadow rounded-3 py-2">
                        <div class="row py-3">
                            <div class="col-sm d-flex flex-column align-self-center">
                                <h5>Informações de pagamento</h5>
                            </div>

                            <div class="col-sm-8 d-flex justify-content-end me-1">
                                <div class="form-check border rounded ps-4emeio pe-3 py-2">
                                    <input class="form-check-input" type="checkbox" id="crtPadrao" name="crtPadrao"
                                        th:checked="${cartaoPadrao != null} AND ${cartaoPadrao.cartao.crtId} == ${cartao.crtId}">
                                    <label class="form-check-label" for="crtPadrao">Cartão padrão</label>
                                </div>
                            </div>
                        </div>

                        <div class="row pb-3 pe-0">
                            <div class="row pb-3 pe-0">
                                <div class="col-sm ">
                                    <div class="form-floating">
                                        <input type="text" class="form-control cartao" placeholder="Número do cartão"
                                            id="numCartao" minlength="19" maxlength="19" th:field="${cartao.crtNumero}"
                                            required>
                                        <label for="numCartao">Número do cartão</label>
                                    </div>
                                </div>

                                <div class="col-sm pe-0">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" placeholder="Nome impresso"
                                            id="nomeCartao" th:field="${cartao.crtNome}" required>
                                        <label for="nomeCartao">Nome impresso</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row pe-0">
                                <div class="col-sm">
                                    <div class="form-floating">
                                        <select name="bandeiraCartao" class="custom-select form-select"
                                            id="bandeiraCartao" th:field="${cartao.bandeira.banId}" required>
                                            <option th:each="bandeira : ${bandeiras}" th:text="${bandeira.banNome}"
                                                th:value="${bandeira.banId}" value="Elo">Bandeira</option>
                                        </select>
                                        <label for="bandeiraCartao">Bandeira do cartão</label>
                                    </div>
                                </div>

                                <div class="col-sm">
                                    <div class="form-floating">
                                        <input type="text" class="form-control validade"
                                            placeholder="Validade do cartão" id="validadedCartao" minlength="5"
                                            maxlenght="5" th:field="${cartao.crtValidade}" required>
                                        <label for="validadedCartao">Validade do cartão</label>
                                    </div>
                                </div>

                                <div class="col-sm pe-0">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" placeholder="CVV" id="cvvCartao"
                                            minlength="3" maxlength="3" name="cvv">
                                        <label for="cvvCartao">Código de cegurança</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row pe-0 pb-3">
                            <div class="col-sm">
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="text-start">
                                            <a class="btn border shadow-sm" onclick="window.history.back();"
                                                id="voltar">Voltar</a>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="text-end">
                                            <button type="submit" class="btn border shadow-sm"
                                                id="confirmar">Alterar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <!-- Script-->
        <th:block layout:fragment="javascripts">
            <script type="text/javascript" th:src="@{/javascripts/jquery/jquery.mask.min.js}"></script>
            <script type="text/javascript" th:src="@{/javascripts/jquery/jquery.mask.js}"></script>
        </th:block>
    </body>

</html>