<!DOCTYPE html>
<html lang="pt-br"
    layout:decorate="~{layout/cliente/layout}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>GPrint3D - Cliente - Meu Cadastro</title>
    </head>

    <body>
        <!-- Conteudo da página -->
       <section layout:fragment="conteudo">
            <div class="my-5">
                <div class="row">
                    
                    <div class="alert alert-success" role="alert" th:if="${not #strings.isEmpty(alteracaoSuccess)}">
                        <span th:text=${alteracaoSuccess}></span>
                    </div>
                    <div class="alert alert-danger" role="alert" th:if="${not #strings.isEmpty(alteracaoError)}">
                        <span th:text=${alteracaoError}></span>
                    </div>
                    
                    <div class="col-sm">
                        <div class="row">
                            <p class="h2">Meu cadastro</p>
                        </div>

                        <form class="form-group" th:action="@{/cliente/meuCadastro}" method="POST">
                            <div class="row border shadow p-2 rounded-3">

                                <input type="hidden" th:value="${cliente.cliId}" th:field="${cliente.cliId}"></input>
                                <input type="hidden" th:value="${cliente.cliRanking}" th:field="${cliente.cliRanking}"></input>
                                <input type="hidden" th:value="${telefone.telId}" th:field="${telefone.telId}"></input>
                                <input type="hidden" th:value="${documento.docId}" th:field="${documento.docId}"></input>

                                <input type="hidden" th:value="${cliente.usuario.usuId}" th:field="${cliente.usuario.usuId}"></input>
                                <input type="hidden" th:value="${telefone.cliente.cliId}" th:field="${telefone.cliente.cliId}"></input>
                                <input type="hidden" th:value="${documento.cliente.cliId}" th:field="${documento.cliente.cliId}"></input>

                                <div class="row py-3 pe-0">
                                    <div class="row pb-3 pe-0">
                                        <div class="col-sm pe-0">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" placeholder="Nome" id="nome" th:value="${cliente.cliNome}" th:field="${cliente.cliNome}">
                                                <label for="nome">Nome completo ou nome empresarial</label>
                                              </div>
                                        </div>
                                    </div>

                                    <div class="row pb-3 pe-0">
                                        <div class="col-sm">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" placeholder="Data de Nascimento" id="dataNascimento" th:value="${cliente.cliDtNasc}" th:field="${cliente.cliDtNasc}">
                                                <label for="dataNascimento">Data de Nascimento</label>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="form-floating">
                                                <select name="tipoTelefone" class="custom-select form-select" id="tipoTelefone" th:selected="${telefone.telTipo}" th:field="${telefone.telTipo}">
                                                    <option value="" selected>Tipo de Telefone</option>
                                                    <option value="Celular">Celular</option>
                                                    <option value="Comercial">Comercial</option>
                                                    <option value="Residencial">Residencial</option>
                                                </select>
                                                <label for="tipoTelefone">Tipo de Telefone</label>
                                            </div>
                                        </div>

                                        <div class="col-sm-1">
                                            <div class="form-floating">
                                                <input type="text" class="form-control ddd" placeholder="DDD" id="DDD" th:value="${telefone.telDdd}" th:field="${telefone.telDdd}">
                                                <label for="DDD">DDD</label>
                                            </div>
                                        </div>

                                        <div class="col-sm pe-0">
                                            <div class="form-floating">
                                                <input type="text" class="form-control celphone" placeholder="Telefone" id="telefone" th:value="${telefone.telNumero}" th:field="${telefone.telNumero}">
                                                <label for="telefone">Telefone</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row pe-0">
                                        <div class="col-sm">
                                            <div class="row border rounded text-sm-center mx-0" style="height: 58.1px">
                                                <div class="col-sm-3">
                                                    <div class="d-flex align-items-center" style="height: 58.1px">
                                                        <span>Sexo: </span>
                                                    </div>
                                                </div>

                                                <div class="col-sm">
                                                    <div class="col-sm d-flex align-items-center">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="sexoMasculino" value="Masculino" id="Masculino" th:checked="${#strings.equals(cliente.cliSexo, 'Masculino')}" th:field="${cliente.cliSexo}">
                                                            <label class="form-check-label" for="Masculino">Masculino</label>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm d-flex align-items-center">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="sexoFeminino" value="Feminino" id="Feminino" th:checked="${#strings.equals(cliente.cliSexo, 'Feminino')}" th:field="${cliente.cliSexo}">
                                                            <label class="form-check-label" for="Feminino">Feminino</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm">
                                            <div class="form-floating">
                                                <select name="tipoDocumento" class="custom-select form-select" id="documento" th:selected="${documento.docTipo}" th:field="${documento.docTipo}">
                                                    <option value="" selected>Tipo de Documento</option>
                                                    <option value="CNPJ">CNPJ</option>
                                                    <option value="CPF">CPF</option>
                                                </select>
                                                <label for="documento">Documento</label>
                                            </div>
                                        </div>

                                        <div class="col-sm pe-0">
                                            <div class="form-floating">
                                                <input type="text" class="form-control cpf-cnpj" placeholder="Número do documento" id="numeroDocumento" th:value="${documento.docNumero}" th:field="${documento.docNumero}">
                                                <label for="numeroDocumento">Número do documento</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row pb-2 pe-0">
                                    <div class="row pe-0">
                                        <div class="col-sm pe-0">
                                            <div class="text-end">
                                                <button type="submit" class="btn border shadow-sm">Alterar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <th:block layout:fragment="javascripts">
            <!-- Script-->
            <script type="text/javascript" th:src="@{/javascripts/jquery/jquery.mask.min.js}"></script>
            <script type="text/javascript" th:src="@{/javascripts/jquery/jquery.mask.js}"></script>
        </th:block>
    </body>
</html>