<!DOCTYPE html>
<html lang="pt-br"
    layout:decorate="~{layout/cliente/layout}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>GPrint3D - Cliente - Meu Cadastro</title>
    </head>

    <body>
        <!-- Conteudo da página -->
       <section layout:fragment="conteudo">
            <div class="my-5">
                <div class="row">
                    <div class="col-sm">
                        <div class="row">
                            <p class="h2">Meu cadastro</p>
                        </div>

                        <div class="form-group">
                            <div class="row border shadow p-2 rounded-3">

                                <div class="row py-3 pe-0">
                                    <div class="row pb-3 pe-0">
                                        <div class="col-sm">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" placeholder="Nome" id="nome" th:text="${usuario.usuEmail}">
                                                <label for="nome">Nome</label>
                                            </div>
                                        </div>

                                        <div class="col-sm pe-0">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" placeholder="Sobrenome" id="sobrenome" th:text="${cliente.cliNome}">
                                                <label for="sobrenome">Sobrenome</label>
                                              </div>
                                        </div>
                                    </div>

                                    <div class="row pb-3 pe-0">
                                        <div class="col-sm">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" placeholder="Data de Nascimento" id="dataNascimento">
                                                <label for="dataNascimento">Data de Nascimento</label>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="form-floating">
                                                <select name="tipoTelefone" class="custom-select form-select" id="tipoTelefone">
                                                    <option selected>Tipo de Telefone</option>
                                                    <option value="Celular">Celular</option>
                                                    <option value="Comercial">Comercial</option>
                                                    <option value="Residencial">Residencial</option>
                                                </select>
                                                <label for="tipoTelefone">Tipo de Telefone</label>
                                            </div>
                                        </div>

                                        <div class="col-sm-1">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" placeholder="DDD" id="DDD">
                                                <label for="DDD">DDD</label>
                                            </div>
                                        </div>

                                        <div class="col-sm pe-0">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" placeholder="Telefone" id="telefone">
                                                <label for="telefone">Telefone</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row pe-0">
                                        <div class="col-sm">
                                            <div class="row border rounded text-sm-center mx-0" style="height: 58.1px">
                                                <div class="col-sm-3">
                                                    <div class="d-flex align-items-center" style="height: 58.1px">
                                                        <span>Sexo: </span>
                                                    </div>
                                                </div>

                                                <div class="col-sm">
                                                    <div class="col-sm d-flex align-items-center">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="sexoMasculino">
                                                            <label class="form-check-label" for="sexoMasculino">
                                                            Masculino
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm d-flex align-items-center">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="sexoFeminino">
                                                            <label class="form-check-label" for="sexoFeminino">
                                                            Feminino
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm">
                                            <div class="form-floating">
                                                <select name="tipoDocumento" class="custom-select form-select" id="documento">
                                                    <option selected>Tipo de Documento</option>
                                                    <option value="CNH">CNH</option>
                                                    <option value="CNPJ">CNPJ</option>
                                                    <option value="CPF">CPF</option>
                                                    <option value="RG">RG</option>
                                                </select>
                                                <label for="documento">Documento</label>
                                            </div>
                                        </div>

                                        <div class="col-sm pe-0">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" placeholder="Número do documento" id="numeroDocumento">
                                                <label for="numeroDocumento">Número do documento</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row pb-2 pe-0">
                                    <div class="row pe-0">
                                        <div class="col-sm pe-0">
                                            <div class="text-end">
                                                <button type="button" class="btn border shadow-sm">Salvar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>